<!-- Use this class for mini menu view class name = "admin_mini_menu" -->
<div class="admin_base">
    <div class="admin_menu">
        <p class="admin_project_logo">
            <img src="../../../../assets/images/logo.PNG" />
        </p>
        <div class="menu_listing">
            <div class="admin_menu_list accordian_menu active_menu_list accordian_menu menu_home">
                <a routerLink="/admin"><span>Home</span></a>
            </div>
            <div class="admin_menu_list menu_alltracks">
                <a routerLink="category"><span>Category</span></a>
            </div>
            <div class="admin_menu_list menu_services">
                <a routerLink="service"><span>Service</span></a>
            </div>
            <div class="admin_menu_list menu_alltracks">
                <a routerLink="tracks/Track"><span>Tracks</span></a>
            </div>
            <div class="admin_menu_list menu_alltracks">
                <a routerLink="tracks/Beat"><span>Beats</span></a>
            </div>
            <!-- <div class="inner_menu">
                <div class="admin_menu_list">
                    <a routerLink="tracks/Track"><span>All Tracks</span></a>
                </div>
                <div class="admin_menu_list">
                    <a routerLink="addmodifytracks/Track/0"><span>Add New Tracks</span></a>
                </div>
            </div>
            <div class="inner_menu">
                <div class="admin_menu_list">
                    <a routerLink="tracks/Beat"><span>All Beats</span></a>
                </div>
                <div class="admin_menu_list">
                    <a routerLink="addmodifytracks/Beat/0"><span>Add New Beats</span></a>
                </div>
            </div> -->
            <div class="admin_menu_list accordian_menu menu_producer_icon">
                <a><span>Producer</span></a>
            </div>
            <div class="inner_menu">
                <div class="admin_menu_list">
                    <a routerLink="producer"><span>All Producers</span></a>
                </div>
                <div class="admin_menu_list">
                    <a><span>Approved Profile</span></a>
                </div>
            </div>
            <div class="admin_menu_list menu_earning_analytics">
                <a routerLink="coupon"><span>Manage Coupon</span></a>
            </div>
            <div class="admin_menu_list accordian_menu menu_services">
                <a><span>Masters</span></a>
            </div>
            <div class="inner_menu">
                <div class="admin_menu_list">
                    <a routerLink="config/masters/master"><span>MasterList</span></a>
                </div>
                <!-- <div class="admin_menu_list">
                    <a routerLink="config/addmodifymaster"><span>Add Master</span></a>
                </div> -->
                <div class="admin_menu_list">
                    <a routerLink="config/masters/masterdata"><span>MasterDataList</span></a>
                </div>
                <!-- <div class="admin_menu_list">
                    <a routerLink="config/addmodifymasterdata"><span>Add MasterData</span></a>
                </div> -->
            </div>
            <div class="admin_menu_list menu_alltracks">
                <a routerLink="authority"><span>Authority</span></a>
            </div>
            <div class="admin_menu_list menu_alltracks">
                <a routerLink="banner"><span>BannerManagement</span></a>
            </div>
            <!-- <div class="admin_menu_list menu_earning_analytics">
                <a><span>Earning / Analytics</span></a>
            </div>
            <div class="admin_menu_list menu_support">
                <a><span>support Ticket</span></a>
            </div>
            <div class="admin_menu_list menu_email_notification">
                <a><span>Email notification</span></a>
            </div>
            <div class="admin_menu_list menu_settings">
                <a><span>Settings</span></a>
            </div> -->
        </div>
    </div>

    <div class="admin_header">
        <div class="menu_navigation">
            <img src="../../../../assets/images/navigation.svg">
        </div>
        <div class="search_section desktop_search">
            <img src="../../../../assets/images/search.svg" />
            <input type="search" name="search" placeholder="Search Transactions, Invoices or help" />
        </div>
        <div class="profile_section">
            <p class="profile_list mobile_search">
                <img src="../../../../assets/images/search.svg" title="Search" alt="Search" />
            </p>
            <p class="profile_list">
                <img src="../../../../assets/images/support_grey.svg" title="Support" alt="Support" />
            </p>
            <p class="profile_list">
                <img src="../../../../assets/images/chat.svg" title="Chat" alt="Chat" />
            </p>
            <p class="profile_list">
                <img src="../../../../assets/images/notification.svg" title="Notification" alt="Notification" />
            </p>
            <!-- <p class="user_name">
                Pallavi Chapla
            </p> -->
            <div class="user_profile_img dropdown_point" *ngIf="hasLogin">
                <img [src]="ProfilePic" />
                <div class="dropdown_panel profile_dropdown_panel">
                    <div class="dropdown_inner">
                        <div class="dropdown_body">
                            <div class="user_information">
                                <h3>{{FullName}}</h3>
                                <p>{{EmailID}}</p>
                            </div>
                            <div class="dropdown_list">
                                <a routerLink="/">
                                    User View
                                </a>
                                <a routerLink="/admin/profileupdate">
                                    My Account
                                </a>
                                <a href="#">
                                    Get In Touch
                                </a>
                                <a (click)="logOut()">
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile_search_section">
        <div class="search_section">
            <img src="../../../../assets/images/back.svg" />
            <input type="search" name="search" placeholder="Search Transactions, Invoices or help" />
        </div>
    </div>
</div>

<!--

$(".menu_navigation").click(function(){
    $(".admin_base").toggleClass("admin_mini_menu");
});

$(".mobile_search").click(function(){
    $(".mobile_search_section").show();
});

$(".search_section > img").click(function(){
    $(".mobile_search_section").hide();
});

if (window.matchMedia("(max-width: 850px)").matches) {
    $(".admin_base").removeClass("admin_mini_menu");
} else {
    $(".admin_base").addClass("admin_mini_menu");
}

-->