<div class="authentication">
    <div class="authentication_sec">
        <div class="authentication_box">
            <h2>
                Reset Password
            </h2>
            <p>
                Please enter your email address and we'll send you a OTP to reset your password
            </p>
            <form>
                <div class="form_group">
                    <div class="form_area icon_form_group">
                        <input type="email" fid="EmailID" name="EmailID" placeholder="Enter your email address" />
                        <span class="input_icon email_icon"></span>
                    </div>
                    <div class="error_msg">
                        <span>
                            This field is Required
                        </span>
                    </div>
                </div>
                <div class="button_group center_align">
                    <a class="global_btn primary_btn float_none">
                        <span>Submit</span>
                    </a>
                </div>
                <div class="become_member">
                    <a target="_blank">Back To Sign In</a>
                </div>
            </form>
        </div>
        <div class="authentication_box">
            <h2>
                Enter OTP
            </h2>
            <p>
                Please enter your email address and we'll send you a OTP to reset your password
            </p>
            <form>
                <div class="form_group">
                    <div class="enter_otp">
                        <span>
                            <input type="number" name="otp" placeholder="0" minlength="1" />
                        </span>
                        <span>
                            <input type="number" name="otp" placeholder="0" minlength="1" />
                        </span>
                        <span>
                            <input type="number" name="otp" placeholder="0" minlength="1" />
                        </span>
                        <span>
                            <input type="number" name="otp" placeholder="0" minlength="1" />
                        </span>
                        <div class="error_msg">
                            <span>
                                This field is Required
                            </span>
                        </div>
                    </div>
                </div>
                <div class="button_group center_align">
                    <a class="global_btn primary_btn float_none">
                        <span>Submit</span>
                    </a>
                </div>
                <div class="become_member">
                    <a target="_blank">Back To Sign In</a>
                </div>
            </form>
        </div>
        <div class="authentication_box">
            <h2>
                Reset Password
            </h2>
            <p>
                Please enter your new password
            </p>
            <form>
                <div class="form_group">
                    <div class="form_area icon_form_group">
                        <input type="password" name="Password" placeholder="New Password" required />
                        <span class="input_icon password_icon"></span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="form_group">
                    <div class="form_area icon_form_group">
                        <input type="password" name="Password" placeholder="Confirm New Password" required />
                        <span class="input_icon password_icon"></span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="button_group center_align">
                    <a class="global_btn primary_btn float_none" data-toggle="modal" data-target="#acknowledge_popup">
                        <span>Submit</span>
                    </a>
                </div>
                <div class="become_member">
                    <a target="_blank">Back To Sign In</a>
                </div>
            </form>
        </div>
        <div class="modal fade acknowledge_popup" id="acknowledge_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" keyboard="true">
            <div class="modal-md modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="../../../../assets/images/success_tick.svg" alt="Your password has been Successfully reset">
                        <h3>Congratulations</h3>
                        <p>Your password has been Successfully reset</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>