<div class="portlet_body admin_half_forms emailnoti_page">
    <form>
        <h2 class="form_small_heading">Push Notification and Emails</h2>
        <div class="switch_btn">
            <label class="checkbox">
                <input name="switchall" type="checkbox">Switch All
                <span></span>
            </label>
        </div>
        <table class="secondary_table">
            <tbody>
                <tr>
                    <td>
                        <i class="follow_icon"></i>
                    </td>
                    <td>
                        <p>Follow</p>
                        <span>(When someone follow my profile)</span>
                    </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="add_to_favourites_white_icon"></i>
                    </td>
                    <td>
                        <p>Add To Fav</p>
                        <span>(When someone add to fav my track / Service)</span>
                    </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class=""></i>
                    </td>
                    <td>
                        <p>Offer & Discount</p>
                    </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class=""></i>
                    </td>
                    <td>
                        <p>Track / Service Sale</p>
                        <span>(When someone Buy My Track & Service)</span>
                    </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="revision_white_icon"></i>
                    </td>
                    <td>
                        <p>Update</p>
                        <span>(Update form Producer I'm Following)</span>
                    </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class=""></i>
                    </td>
                    <td>
                        <p>System</p>
                        <span>System Notification</span>
                    </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>