<swiper class="product_slider" [config]="config">
    <div *ngFor="let objSlide of featuredTrack" class="swiper-slide">
        <div class="slider_featureproduct">
            <div class="product_img">
                <img [src]="this._base._commonService.cdnURL + objSlide.Thumbnail" class="product_thumbnail">
                <div class="product_upper_layer">
                    <img style="background:none" (click)="playaudio(objSlide.PlayUrl, objSlide.Ref_Track_ID, featuredTrack)" class="playpause_{{objSlide.Ref_Track_ID}} play" [src]="setImg(objSlide.Ref_Track_ID)" />
                    <p class="product_name">{{objSlide.TrackName}}</p>
                    <p class="product_bass">{{objSlide.CategoryName}}</p>
                </div>
            </div>
            <div class="product_details">
                <div class="left_details">
                    <img *ngIf="objSlide.Favourite != 'Favourite'" src="../../../assets/images/blank_heart.svg" class="blank_heart" title="Add to Favorites" (click)="useraction(objSlide.Ref_Track_ID,'Track','Favourite')" />
                    <img *ngIf="objSlide.Favourite == 'Favourite'" src="../../../assets/images/fill_heart.svg" class="blank_heart" title="Remove from Favorites" (click)="useraction(objSlide.Ref_Track_ID,'Track','Unfavourite')" />
                    <img src="../../../assets/images/read_more.svg" (click)="redirect(objSlide.Ref_Track_ID)" class="green_heart" title="Read More" />
                </div>
                <div class="right_details">
                    <a class="global_btn icon_btn primary_btn" title="Add To Cart" (click)="Order('ADD_TO_CART',objSlide.Ref_Track_ID,'Track','Track')">
                        <span>&#36;{{objSlide.Price}}</span>
                        <span class="add_to_cart_icon btn_icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</swiper>
<div class="no_record" *ngIf="featuredTrack?.length == 0">
    No record found
</div>