<div class="portlet_body admin_half_forms">
    <form>
        <div class="form_group">
            <div class="form_area icon_form_group">
                <input type="text" name="servicetitle" placeholder="Service Title" />
                <span class="input_icon "></span>
            </div>
            <div class="error_msg">
                <span>This field is Required</span>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area icon_form_group">
                <select name="parentcategory">
                    <option disabled selected>Select Category</option>
                    <option>Options</option>
                    <option>Options</option>
                </select>
                <span class="input_icon dropdown_icon"></span>
            </div>
            <div class="error_msg">
                <span>This field is Required</span>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area icon_form_group textarea_icon_form_group">
                <textarea rows="4" placeholder="Describe your Service"></textarea>
                <span class="input_icon bio_icon"></span>
            </div>
            <span class="file_formats right_align">Max 1200 caractors</span>
            <div class="error_msg">
                <span>This field is Required</span>
            </div>
        </div>
        <div class="form_group">
            <label class="form_label">Add FAQ's</label>
            <div class="form_area icon_form_group">
                <input type="text" name="servicetitle" placeholder="Add Question" />
                <span class="input_icon question_icon"></span>
            </div>
            <div class="error_msg">
                <span>This field is Required</span>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area icon_form_group textarea_icon_form_group">
                <textarea rows="3" placeholder="Add Answer"></textarea>
                <span class="input_icon answer_icon"></span>
            </div>
            <div class="error_msg">
                <span>This field is Required</span>
            </div>
        </div>
        <div class="button_group">
            <a class="global_btn icon_btn primary_btn">
                <span>Add</span>
                <span class="right_icon btn_icon"></span>
            </a>
            <a class="global_btn icon_btn red_btn">
                <span>Cancel</span>
                <span class="delete_icon btn_icon"></span>
            </a>
        </div>
    </form>
</div>
<div class="portlet_body admin_half_forms">
    <form>
        <div class="multipul_form_group">
            <div class="width_50">
                <div class="form_group">
                    <div class="form_area icon_form_group">
                        <input type="text" name="enterprice" placeholder="Enter Price" />
                        <span class="input_icon price_icon"></span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
            <div class="width_50">
                <div class="form_group">
                    <div class="form_area icon_form_group">
                        <input type="text" name="filesincluded" placeholder="Files Included" />
                        <span class="input_icon included_icon"></span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="multipul_form_group">
            <div class="width_50">
                <div class="form_group">
                    <div class="form_area icon_form_group">
                        <input type="date" name="deliverydate" placeholder="Delivery Date" />
                        <span class="input_icon date_icon"></span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
            <div class="width_50">
                <div class="form_group">
                    <div class="form_area icon_form_group">
                        <input type="text" name="Revision" placeholder="Revision" />
                        <span class="input_icon revision_icon"></span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="multipul_form_group">
            <div class="width_50">
                <div class="form_group">
                    <label class="form_label">Upload Service Video</label>
                    <div class="form_area">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .jpg,
                            .png</span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
            <div class="width_50">
                <div class="service_thumbnail_sec">
                    <img src="../../../assets/images/product_thumbnail.jpg" />
                    <div class="service_thumbnail_hover_sec">
                        <img src="../../../assets/images/play_video.svg" title="Play" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="width_40">
    <div class="form_group">
        <label class="form_label">Upload Service Cover Image</label>
        <div class="form_area">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .jpg, .png</span>
        </div>
        <div class="error_msg">
            <span>This field is Required</span>
        </div>
    </div>
    <div class="button_group">
        <a class="global_btn primary_btn" data-toggle="modal" data-target="#acknowledge_popup">
            <span>SAVE & CONTINUE</span>
        </a>
    </div>
</div>
<div class="modal fade acknowledge_popup" id="acknowledge_popup" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" keyboard="true">
    <div class="modal-md modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../../../../assets/images/success_tick.svg" alt="Service Submitted Successfully">
                <h3>Thank You</h3>
                <p>Your Service has been submitted will notify you the status of Service approval.</p>
            </div>
        </div>
    </div>
</div>