<div>

    <form [formGroup]="addServiceForm">
        <div class="portlet_body admin_half_forms">
            <div class="form_group">
                <div class="form_area icon_form_group">
                    <input type="text" name="servicetitle" formControlName="ServiceTitle" placeholder="Service Title" />
                    <span class="input_icon "></span>
                </div>
                <edm-error [control]="addServiceForm.controls.ServiceTitle"></edm-error>
            </div>
            <div class="form_group">
                <div class="form_area">
                    <input type="text" formControlName="AliasName" id="AliasName" name="AliasName"
                        placeholder="Enter Slug" aria-describedby="AliasNameHelp" />
                </div>
                <edm-error [control]="addServiceForm.controls.AliasName"></edm-error>

            </div>
            <div class="form_group">
                <div class="form_area icon_form_group">
                    <select name="parentcategory" formControlName="Category">
                        <option selected value=''>Select Category</option>
                        <option *ngFor="let category of categoryData" [value]="category.Ref_Category_ID">
                            {{category.CategoryName}}</option>
                    </select>
                    <span class="input_icon dropdown_icon"></span>
                </div>
                <edm-error [control]="addServiceForm.controls.Category"></edm-error>
            </div>
            <div class="form_group">
                <div class="form_area icon_form_group textarea_icon_form_group">
                    <textarea rows="4" placeholder="Describe your Service" formControlName="Description"></textarea>
                    <span class="input_icon bio_icon"></span>
                </div>
                <span class="file_formats right_align">Max 1200 caractors</span>
                <edm-error [control]="addServiceForm.controls.Description"></edm-error>
            </div>
            <div formArray='FAQDetails'>
                <ng-container [formGroup]='faq' *ngFor="let faq of FaqListArray.controls;let i =index">
                    <div class="form_group">
                        <label class="form_label">Add FAQ's</label>
                        <div class="form_area icon_form_group">
                            <input type="text" name="servicetitle" formControlName="Questions"
                                placeholder="Add Question" />
                            <span class="input_icon question_icon"></span>
                        </div>
                        <edm-error [control]="faq.controls.Questions"></edm-error>
                    </div>
                    <div class="form_group">
                        <div class="form_area icon_form_group textarea_icon_form_group">
                            <textarea rows="3" formControlName="Answer" placeholder="Add Answer"></textarea>
                            <span class="input_icon answer_icon"></span>
                        </div>
                        <edm-error [control]="faq.controls.Answer"></edm-error>
                    </div>
                    <div class="button_group">
                        <!-- <a class="global_btn icon_btn primary_btn" (click)="switchControl()">
                            <span>switch</span>
                            <span class="right_icon btn_icon"></span>
                        </a> -->
                        <a class="global_btn icon_btn primary_btn" (click)="addFaq(i+1,true)">
                            <span>Add</span>
                            <span class="right_icon btn_icon"></span>
                        </a>
                        <a class="global_btn icon_btn red_btn" *ngIf="FaqListArray.controls.length>1"
                            (click)="addFaq(i,false)">
                            <span>Cancel</span>
                            <span class="delete_icon btn_icon"></span>
                        </a>
                    </div>
                </ng-container>
            </div>
            <!-- </form> -->
        </div>
        <div class="portlet_body admin_half_forms">
            <!-- <form> -->
            <div class="multipul_form_group">
                <div class="width_50">
                    <div class="form_group">
                        <div class="form_area icon_form_group">
                            <input formControlName="Price" type="text" name="enterprice" placeholder="Enter Price" />
                            <span class="input_icon price_icon"></span>
                        </div>
                        <edm-error [control]="addServiceForm.controls.Price"></edm-error>
                    </div>
                </div>
                <div class="width_50">
                    <div class="form_group">
                        <div class="form_area icon_form_group">
                            <input type="text" formControlName="PriceWithProjectFiles" name="filesincluded"
                                placeholder="Files Included" />
                            <span class="input_icon included_icon"></span>
                        </div>
                        <edm-error [control]="addServiceForm.controls.PriceWithProjectFiles"></edm-error>
                    </div>
                </div>
            </div>
            <div class="multipul_form_group">
                <div class="width_50">
                    <div class="form_group">
                        <div class="form_area icon_form_group">
                            <input type="date" formControlName="DeliveryDate" name="deliverydate"
                                placeholder="Delivery Date" />
                            <span class="input_icon date_icon"></span>
                        </div>
                        <edm-error [control]="addServiceForm.controls.DeliveryDate"></edm-error>
                    </div>
                </div>
                <div class="width_50">
                    <div class="form_group">
                        <div class="form_area icon_form_group">
                            <input type="text" formControlName="Revision" name="Revision" placeholder="Revision" />
                            <span class="input_icon revision_icon"></span>
                        </div>
                        <edm-error [control]="addServiceForm.controls.Revision"></edm-error>
                    </div>
                </div>
            </div>
            <div class="multipul_form_group">
                <div class="width_100" *ngIf="!fileChoosenData.ServiceVideoUrl.thumb">
                    <div class="form_group">
                        <label class="form_label">Upload Service Video</label>
                        <div class="form_area">
                            <div class="custom-file">
                                <input type="file" (change)="fileChoosen($event,'ServiceVideoUrl')"
                                    class="custom-file-input" id="customFile">
                                <!-- <img [src]="fileChoosenData.ServiceVideoUrl.thumb" class="image_preview" /> -->
                                <!-- <img src="../../../../assets/images/product_thumbnail.jpg" class="image_preview" /> -->
                                <label class="custom-file-label" for="customFile">
                                    Choose file
                                </label>
                                <!-- <label class="custom-file-label upload_btn"></label> -->
                            </div>
                            <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .jpg,
                                .png</span>
                        </div>
                        <edm-error [control]="addServiceForm.controls.ServiceVideoUrl"></edm-error>
                    </div>
                </div>
                <div class="width_100" *ngIf="fileChoosenData.ServiceVideoUrl.thumb">
                    <div class="service_thumbnail_sec">
                        <label class="form_label">Upload Service Video</label>

                        <!-- <img src="../../../assets/images/product_thumbnail.jpg" />
                        <div class="service_thumbnail_hover_sec">
                            <img src="../../../assets/images/play_video.svg" title="Play" />
                        </div> -->
                        <video height="300" controls>
                            <source [src]="fileChoosenData.ServiceVideoUrl.thumb" type="video/mp4">
                            <!-- <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4"> -->
                            <!-- <source src="mov_bbb.ogg" type="video/ogg"> -->
                            Your browser does not support HTML video.
                        </video>
                    </div>
                    <a class="remImage" id="delete" (click)="removeFile('ServiceVideoUrl')">
                        remove video
                        <img src="https://image.flaticon.com/icons/svg/261/261935.svg">
                    </a>
                </div>
            </div>
            <div class="width_40">
                <!-- <ng-container *ngFor="let thumb of fileChoosenData.BigImageUrl.thumb"> -->

                <!-- <div class="form_group">
                        <label class="form_label">Upload Service Cover Image</label>
                        <div id="imgPreview" class="imgPreview">
                            <img height="80" width="120" [src]="thumb" />
                            <a class="remImage" id="delete" (click)="removeFile('BigImageUrl')">
                                <img src="https://image.flaticon.com/icons/svg/261/261935.svg">
                            </a>
                        </div>
                    </div> -->
                <div class="form_group">
                    <label class="form_label">Upload Service Cover Image</label>
                    <div dragula="MANY_ITEMS" [(dragulaModel)]='dragItems'>
                        <ng-container *ngFor="let thumb of dragItems">
                            <div id="imgPreview" class="imgPreview">
                                <img height="80" width="120" src="../../../../assets/images/product_thumbnail.jpg" />
                            </div>
                        </ng-container>
                    </div>
                </div>

                <div class="form_group">
                    <label class="form_label">Upload Service Cover Image</label>
                    <div class="form_area">
                        <div class="custom-file">
                            <input type="file" (change)="fileChoosen($event,'BigImageUrl')" class="custom-file-input"
                                multiple id="customFile">
                            <!-- <img [src]="thumb ? thumb : '../../../../assets/images/product_thumbnail.jpg'"
                                class="image_preview" /> -->
                            <label class="custom-file-label" for="customFile">
                                Choose file
                            </label>
                            <!-- <label class="custom-file-label upload_btn"></label> -->
                        </div>
                        <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .jpg, .png</span>
                    </div>
                    <edm-error [control]="addServiceForm.controls.BigImageUrl"></edm-error>

                </div>

            </div>
            <!-- </form> -->
        </div>

        <div class="button_group">
            <!-- <a class="global_btn primary_btn" (click)="saveService()" data-toggle="modal" data-target="#acknowledge_popup"> -->
            <a class="global_btn primary_btn" (click)="saveService()">
                <span>{{btnTitle}}</span>
            </a>
        </div>

    </form>
</div>
<div class="modal fade acknowledge_popup" #acknowledge_popup id="acknowledge_popup" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" keyboard="true">
    <div class="modal-md modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../../../../assets/images/success_tick.svg" alt="Service Submitted Successfully">
                <h3>Thank You</h3>
                <p>Your Service has been submitted will notify you the status of Service approval.</p>
            </div>
        </div>
    </div>
</div>