<div class="filter_section desktop_filter_section">
    <a class="add_new" routerLink='/admin/addmodifytracks/{{moduleName}}/0' style="width: 100%;margin-bottom: 15px;">
        <span class="add_new_icon"></span>
        <span>Add New {{moduleName}}</span>
    </a>
    <div class="inline_checkbox">
        <label class="checkbox">
            <input name="tracks" [(ngModel)]="filter.Approved" type="checkbox"  (change)="onStatusChange()">Available {{moduleName}}s
            <span></span>
        </label>
        <label class="checkbox">
            <input name="tracks" [(ngModel)]="filter.SoldOut" type="checkbox" (change)="onStatusChange()">Sold Out {{moduleName}}s
            <span></span>
        </label>
        <label class="checkbox error_color">
            <input name="tracks" [(ngModel)]="filter.Rejected" type="checkbox" (change)="onStatusChange()">Rejected {{moduleName}}s
            <span></span>
        </label>
        <label class="checkbox">
            <input name="tracks" [(ngModel)]="filter.Pending" type="checkbox" (change)="onStatusChange()">Pending {{moduleName}}s
            <span></span>
        </label>
    </div>
    <form>
        <div class="form_group">
            <div class="form_area icon_form_group">
                <select (change)="onGenreChange($event.target.value)" name="filterbytracks" class="grey_dropdown">
                    <option disabled selected>Filter By Genre</option>
                    <option  value="0">All</option>
                    <option *ngFor="let genre of genrelist" [value]="genre.Ref_Category_ID">{{genre.CategoryName}}</option>
                </select>
                <span class="input_icon down_icon"></span>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area icon_form_group">
                <select (change)="onPriceChange($event.target.value)" name="filterbyprice" class="grey_dropdown">
                    <option disabled selected>Filter By Price</option>
                    <option value="0">Low to High</option>
                    <option value="1">High to Low</option>
                </select>
                <span class="input_icon down_icon"></span>
            </div>
        </div>
    </form>
</div>
<div class="primary_table">
    <table style="min-width: 998px;">
        <thead>
            <tr>
                <th>IMAGE</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th>GANRE</th>
                <th>STATUS</th>
                <th width="270px">COMMENT</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let track of filteredProducts">
                <td>
                    <div class="play_upper_layer">
                        <img *ngIf="track.FileManager.length != 0" class="tbl_img" [src]="filterfile(track.FileManager, 'Thumbnail')" />
                        <!-- <div *ngIf="track.FileManager.length != 0" class="" [id]="track.Ref_Track_ID" (click)="playaudio(track.FileManager, track.Ref_Track_ID, data)">
                            <span class="playpause_{{track.Ref_Track_ID}} play_audio"></span>
                        </div> -->
                        <div class="play_audio">
                            <span class="playy" title="Play"></span>
                            <span title="Pause" class="pausee" style="display: none;"></span>
                        </div>
                    </div>
                </td>
                <td>{{track.TrackName}}</td>
                <td>&#36;{{track.Price}}</td>
                <td>{{track.Ref_Category_ID}}</td>
                <td>{{track.TrackStatus}}</td>
                <td>
                    <span class="comment_area" style="width: 250px;">{{track.Bio}}</span>
                    <a *ngIf="track.TrackStatus == 'Rejected'" class="read_more" (click)="showreason(track.Reason)"> READ MORE</a>
                </td>
                <td class="table_btn">
                    <a *ngIf="track.TrackStatus == '-'" (click)="manageTrackBeat(track.Ref_Track_ID, 'Approve')" class="global_btn icon_btn primary_btn">
                        <span>Approve</span>
                        <span class="right_icon btn_icon"></span>
                    </a>
                    <a *ngIf="track.TrackStatus == '-'" (click)="manageTrackBeat(track.Ref_Track_ID, 'Reject')" class="global_btn icon_btn red_btn">
                        <span>Reject</span>
                        <span class="delete_icon btn_icon"></span>
                    </a>
                    <a (click)="redirectToaddmodifytrack(track.Ref_Track_ID)" class="small_icon_btn" title="Edit">
                        <!-- <span>Edit</span> -->
                        <span class="edit_btn"></span>
                    </a>
                    <a (click)="manageTrackBeat(track.Ref_Track_ID, 'Delete')" class="small_icon_btn" title="Delete">
                        <!-- <span>Delete</span> -->
                        <span class="delete_btn"></span>
                    </a>
                    <!-- <a (click)="redirectToaddmodifytrack(track.Ref_Track_ID)" class="global_btn icon_btn grey_btn">
                        <span>View</span>
                        <span class="view_icon btn_icon"></span>
                    </a> -->
                </td>
            </tr>
            <!-- <tr>
                <td>
                    <div class="play_upper_layer">
                        <img class="tbl_img" src="../../../../assets/images/product_thumbnail.jpg" />
                        <div class="play_audio">
                            <span title="Play" class="playy"></span>
                            <span title="Pause" class="pausee" style="display: none;"></span>
                        </div>
                    </div>
                </td>
                <td>Raindrop</td>
                <td>&#36;300</td>
                <td>Bigroom</td>
                <td>Pending</td>
                <td>
                    <span class="comment_area" style="width: 250px;">Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry simply dummy text of the printing and typesetting industry</span>
                    <a class="read_more" data-toggle="modal" data-target="#readmore_popup" href="#"> READ MORE</a>
                </td>
                <td class="table_btn">
                    <a class="global_btn icon_btn primary_btn">
                        <span>Approve</span>
                        <span class="right_icon btn_icon"></span>
                    </a>
                    <a class="global_btn icon_btn red_btn">
                        <span>Reject</span>
                        <span class="delete_icon btn_icon"></span>
                    </a>
                    <a class="global_btn icon_btn primary_btn">
                        <span>Edit</span>
                        <span class="edit_icon btn_icon"></span>
                    </a>
                    <a class="global_btn icon_btn red_btn">
                        <span>Delete</span>
                        <span class="delete_icon btn_icon"></span>
                    </a>
                    <a class="global_btn icon_btn grey_btn">
                        <span>View</span>
                        <span class="view_icon btn_icon"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="play_upper_layer">
                        <img class="tbl_img" src="../../../../assets/images/product_thumbnail.jpg" />
                        <div class="play_audio">
                            <span title="Play" class="playy"></span>
                            <span title="Pause" class="pausee" style="display: none;"></span>
                        </div>
                    </div>
                </td>
                <td>Raindrop</td>
                <td>&#36;300</td>
                <td>Bigroom</td>
                <td>Pending</td>
                <td>
                    <span class="comment_area" style="width: 250px;">Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry simply dummy text of the printing and typesetting industry</span>
                    <a class="read_more" data-toggle="modal" data-target="#readmore_popup" href="#"> READ MORE</a>
                </td>
                <td class="table_btn">
                    <a class="global_btn icon_btn primary_btn">
                        <span>Approve</span>
                        <span class="right_icon btn_icon"></span>
                    </a>
                    <a class="global_btn icon_btn red_btn">
                        <span>Reject</span>
                        <span class="delete_icon btn_icon"></span>
                    </a>
                    <a class="global_btn icon_btn primary_btn">
                        <span>Edit</span>
                        <span class="edit_icon btn_icon"></span>
                    </a>
                    <a class="global_btn icon_btn red_btn">
                        <span>Delete</span>
                        <span class="delete_icon btn_icon"></span>
                    </a>
                    <a class="global_btn icon_btn grey_btn">
                        <span>View</span>
                        <span class="view_icon btn_icon"></span>
                    </a>
                </td>
            </tr> -->
        </tbody>
        <div class="no_record" *ngIf="filteredProducts?.length == 0">
            No record found
        </div>
    </table>
</div>
<div class="modal fade" id="mobile_filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" keyboard="true">
    <div class="modal-md modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">More Filters</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="filter_list">
                    <form>
                        <div class="form_group">
                            <label class="form_label">Sort by Beats</label>
                            <div class="form_area">
                                <div class="inline_radio">
                                    <label class="radio">
                                        <input name="tracks" type="radio" checked="checked">Available Tracks
                                        <span></span>
                                    </label>
                                    <label class="radio">
                                        <input name="tracks" type="radio">Sold Out Tracks
                                        <span></span>
                                    </label>
                                    <label class="radio error_color">
                                        <input name="tracks" type="radio">Rejected Tracks
                                        <span></span>
                                    </label>
                                    <label class="radio error_color">
                                        <input name="tracks" type="radio">Pending Tracks
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form_group">
                            <label class="form_label">Sort by Tracks</label>
                            <div class="form_area icon_form_group">
                                <select name="filterbytracks" class="grey_dropdown">
                                    <option disabled selected>Filter By Genre</option>
                                    <option>Options</option>
                                    <option>Options</option>
                                </select>
                                <span class="input_icon down_icon"></span>
                            </div>
                        </div>
                        <div class="form_group">
                            <label class="form_label">Sort by Price</label>
                            <div class="form_area icon_form_group">
                                <select name="filterbyprice" class="grey_dropdown">
                                    <option disabled selected>Filter By Price</option>
                                    <option>Options</option>
                                    <option>Options</option>
                                </select>
                                <span class="input_icon down_icon"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block primary_btn">Apply Filter</button>
                <button type="button" class="btn btn-block primary_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade plain_content" id="readmore_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" keyboard="true">
    <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reason</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{rejectedReasonTxt}}
            </div>
        </div>
    </div>
</div>
<div class="modal fade plain_content" id="rejectConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" keyboard="true">
    <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reject</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do You want to Reject?

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block primary_btn" (click)="confirmReject()">Yes</button>
                <button type="button" class="btn btn-block primary_btn" data-dismiss="modal" aria-label="Close">CANCEL</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade plain_content" id="rejectReason_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" keyboard="true">
    <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reason</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addrejectreason">
                    <input type="text" name="rejectReason" formControlName="rejectReason" placeholder="Reason" [(ngModel)]="rejectReason" />
                    <edm-error [control]="addrejectreason.controls.rejectReason"></edm-error>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block primary_btn" (click)="accept()">Reject</button>
            </div>
        </div>
    </div>
</div>