<div class="filter_section desktop_filter_section">
    <form>
        <div class="form_group">
            <div class="form_area icon_form_group">
                <select name="filterbygenretype" class="grey_dropdown" (change)="changeFilter($event)">
                    <option disabled selected>Filter By Genre Type</option>
                    <option value="0">ALL</option>
                    <option value="1">Track</option>
                    <option value="2">Beats</option>
                    <option value="3">Blog</option>
                </select>
                <span class="input_icon down_icon"></span>
            </div>
        </div>
        <!-- <div class="form_group">
            <div class="form_area icon_form_group">
                <select name="filterbyservicetype" class="grey_dropdown">
                    <option disabled selected>Filter By Service Type</option>
                    <option>Options</option>
                    <option>Options</option>
                </select>
                <span class="input_icon down_icon"></span>
            </div>
        </div> -->
    </form>
</div>
<div class="portlet_body">
    <div class="primary_table">
        <com-datatable #dataTableCom [config]='tableConfig' (tableEvent)="tableClick($event)"></com-datatable>
        <!-- <table style="min-width: 688px;">
            <thead>
                <tr>
                    <th>IMAGE</th>
                    <th>GENRE NAME</th>
                    <th>TRACKS</th>
                    <th style="width: 350px;">ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of categoryData">
                    <td>
                        <div class="play_upper_layer">
                            <img class="tbl_img" src="../../../../assets/images/product_thumbnail.jpg" />
                            <div class="play_audio">
                                <span title="Play" class="play"></span>
                                <span title="Pause" class="pause" style="display: none;"></span>
                            </div>
                        </div>
                    </td>
                    <td>{{obj.CategoryName}}</td>
                    <td>29</td>
                    <td class="table_btn">
                        <a (click)="modifycategory(tableItem,'MODIFYCATEGORY')" class="global_btn primary_btn">
                             <span>Edit</span> 
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a (click)="modifycategory(obj,'DELETECATEGORY')" class="btn btn-danger btn-xs "
                            [ngClass]="{'disabled':obj.IsActive==false}" data-toggle="modal"
                            data-target="#modal-deleteconfirmation" class="global_btn icon_btn red_btn">
                            <span>Delete</span>
                            <span class="delete_icon btn_icon"></span>
                            <i class="fa fa-trash"></i>
                        </a>
                        <a class="global_btn icon_btn grey_btn">
                             <span>View</span>
                            <span class="view_icon btn_icon"></span> 
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>


<div class="modal fade plain_content" id="modal-deleteconfirmation" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" keyboard="true">
    <div class="modal-md modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Once you delete data can not be rollback. Do you still want to continue?</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-block primary_btn" (click)="cancelGenre()"
                    data-dismiss="modal">Cancel</a>
                <a (click)="removeGenre()" class="btn btn-block primary_btn" data-dismiss="modal">Yes</a>
            </div>
        </div>
    </div>
</div>
