<div class="header">
    <div class="mobile_menu_panel">
        <div class="open_mobile_menu">
            <img src="../../../../assets/images/navigation.svg">
        </div>
        <div class="left_panel mobile_menu panel_open_animation">
            <!-- "panel_close_animation" Class while Closing menu panel -->
            <div class="mobile_project_logo">
                <a (click)="redirectUrl('home')">
                    <img src="../../../../assets/images/logo.PNG" alt="EDM Logo" />
                </a>
            </div>
            <div class="mobile_menu_list">
                <div class="mobile_menus accordian_menu">
                    <a><span>Store</span></a>
                </div>
                <div class="inner_menu">
                    <div class="mobile_menus">
                        <a routerLink="/product">
                            <span>Tracks</span>
                        </a>
                        <a routerLink="/product">
                            <span>Beats</span>
                        </a>
                    </div>
                </div>
                <div class="mobile_menus accordian_menu">
                    <a><span>Genre</span></a>
                </div>
                <div class="inner_menu">
                    <div class="mobile_menus">
                        <a *ngFor="let obj of categoryData" routerLink="/product">
                            <span>{{obj.CategoryName}}</span>
                        </a>
                    </div>
                </div>
                <div class="mobile_menus">
                    <a><span>Custom Track</span></a>
                </div>
                <div class="mobile_menus">
                    <a><span>Service</span></a>
                </div>
                <div class="mobile_menus" (click)="redirectUrl('login')">
                    <a><span>Sign In</span></a>
                </div>
                <div class="mobile_menus">
                    <a><span>Sign Up</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="project_logo">
        <a (click)="redirectUrl('home')">
            <img src="../../../../assets/images/logo.PNG" alt="EDM Logo" />
        </a>
    </div>
    <div class="project_menu">
        <div class="menu_list">
            <div class="dropdown_point">
                <a>Store</a>
                <div class="dropdown_panel menu_dropdown_panel">
                    <div class="dropdown_inner">
                        <div class="dropdown_body">
                            <div class="dropdown_list">
                                <a routerLink="/product/Track">
                                    <span>Tracks</span>
                                </a>
                                <a routerLink="/product/Beats">
                                    <span>Beats</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown_point">
                <a>Genre</a>
                <div class="dropdown_panel menu_dropdown_panel">
                    <div class="dropdown_inner">
                        <div class="dropdown_body">
                            <div class="dropdown_list">
                                <a *ngFor="let obj of categoryData" routerLink="/product">
                                    {{obj.CategoryName}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a routerLink="/product/CustomTrack">Custom Track</a>
            </div>
            <div>
                <a routerLink="/service">Service</a>
            </div>
        </div>
        <div class="cart_section">
            <div (click)="redirectUrl('cart')" class="cart_area" title="My Cart">
                <span>3</span>
                <img src="../../../../assets/images/cart.svg" alt="Cart Image">
            </div>
        </div>
        <div class="user_profile">
            <div class="user_profile_img dropdown_point" [hidden]="!hasLogin">
                <img [src]="ProfilePic" />
                <div class="dropdown_panel profile_dropdown_panel">
                    <div class="dropdown_inner">
                        <div class="dropdown_body">
                            <div class="user_information">
                                <h3>{{FullName}}</h3>
                                <p>{{EmailID}}</p>
                            </div>
                            <div class="dropdown_list">
                                <a routerLink="/admin">
                                    Administrator
                                </a>
                                <a href="#">
                                    My Account
                                </a>
                                <a routerLink="/wishlist">
                                   My Wishlist
                                </a>
                                <a routerLink="/wishlist">
                                    Support
                                 </a>
                                <a href="#">
                                    Get In Touch
                                </a>
                                <a (click)="logOut()">
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="signin_btn" [hidden]="hasLogin">
            <a (click)="redirectUrl('login')" class="global_circle_btn primary_btn no_margin">
                <span>SIGN IN</span>
            </a>
        </div>
    </div>
</div>

<!-- <script>
    $(document).ready(function(){
        $(".open_mobile_menu").click(function(){
            $(".mobile_menu").show();
        });
    });
</script> -->