<div class="header">
    <div class="mobile_menu_panel">
        <div class="open_mobile_menu">
            <img src="../../../../assets/images/navigation.svg">
        </div>
        <div class="left_panel mobile_menu panel_open_animation">
            <!-- "panel_close_animation" Class while Closing menu panel -->
            <div class="mobile_project_logo">
                <a (click)="redirectUrl('home')">
                    <img src="../../../../assets/images/logo.PNG" alt="EDM Logo" />
                </a>
            </div>
            <div class="mobile_menu_list">
                <!-- <div>
                    <a href="#" target="_blank">Store</a>
                </div>
                <div>
                    <a href="#" target="_blank">Genre</a>
                </div>
                <div>
                    <a href="#" target="_blank">Custom Track</a>
                </div>
                <div>
                    <a href="#" target="_blank">Services</a>
                </div>
                <div (click)="redirectUrl('login')">
                    <a href="#" target="_blank">Sign In</a>
                </div>
                <div>
                    <a href="#" target="_blank">Sign Up</a>
                </div> -->
                <div class="mobile_menus active_menu_list">
                    <a><span>Store</span></a>
                </div>
                <div class="mobile_menus accordian_menu">
                    <a><span>Genre</span></a>
                </div>
                <div class="inner_menu">
                    <div class="mobile_menus">
                        <a><span>Genre Inner</span></a>
                    </div>
                    <div class="mobile_menus">
                        <a><span>Genre Inner</span></a>
                    </div>
                </div>
                <div class="mobile_menus">
                    <a><span>Custom Track</span></a>
                </div>
                <div class="mobile_menus">
                    <a><span>Services</span></a>
                </div>
                <div class="mobile_menus" (click)="redirectUrl('login')">
                    <a><span>Sign In</span></a>
                </div>
                <div class="mobile_menus">
                    <a><span>Sign Up</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="project_logo">
        <a (click)="redirectUrl('home')">
            <img src="../../../../assets/images/logo.PNG" alt="EDM Logo" />
        </a>
    </div>
    <div class="project_menu">
        <div class="menu_list">
            <div>
                <a routerLink="/product">Store</a>
            </div>
            <div class="dropdown_point">
                <a routerLink="/geners">Genre</a>
                <div class="dropdown_panel menu_dropdown_panel">
                    <div class="dropdown_inner">
                        <div class="dropdown_body">
                            <div class="dropdown_list">
                                <a href="#">
                                    Administrator
                                </a>
                                <a href="#">
                                    My Account
                                </a>
                                <a href="#">
                                    Get In Touch
                                </a>
                                <a href="#">
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a routerLink="/product">Custom Track</a>
            </div>
            <div>
                <a routerLink="/service">Services</a>
            </div>
        </div>
        <div class="cart_section">
            <div class="cart_area" title="My Cart">
                <span>3</span>
                <img src="../../../../assets/images/cart.svg" alt="Cart Image">
            </div>
        </div>
        <div class="user_profile">
            <div class="user_profile_img dropdown_point">
                <img *ngIf="hasLogin" src="https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/user/12.jpg" />
                <div class="dropdown_panel profile_dropdown_panel">
                    <div class="dropdown_inner">
                        <div class="dropdown_body">
                            <div class="user_information">
                                <h3>Pallavi Chapla</h3>
                                <p>pallavi.chapla@gmail.com</p>
                            </div>
                            <div class="dropdown_list">
                                <a href="#">
                                    Administrator
                                </a>
                                <a href="#">
                                    My Account
                                </a>
                                <a href="#">
                                    Get In Touch
                                </a>
                                <a href="#">
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="signin_btn" *ngIf="hasLogin">
            <a (click)="redirectUrl('login')" class="global_circle_btn primary_btn no_margin">
                <span>SIGN IN</span>
            </a>
        </div>
    </div>
</div>

<!-- <script>
    $(document).ready(function(){
        $(".open_mobile_menu").click(function(){
            $(".mobile_menu").show();
        });
    });
</script> -->