<div class="portlet_body admin_half_forms">
    <form [formGroup]="formCategory">
        <div class="form_group">
            <div class="form_area">
                <input type="text" formControlName="CategoryName" id="CategoryName" name="CategoryName"
                    placeholder="Enter Genre Name" aria-describedby="CategoryNameHelp" />
            </div>
            <div class="error_msg">
                <span *ngIf="formCategory.controls.CategoryName.invalid && formCategory.controls.CategoryName.touched"
                    id="CategoryNameHelp">This field is Required</span>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area">
                <input type="text" formControlName="CategorySlug" id="CategorySlug" name="CategorySlug"
                    placeholder="Enter Genre Slug" aria-describedby="CategorySlugHelp" />
            </div>
            <div class="error_msg">
                <span *ngIf="formCategory.controls.CategorySlug.invalid && formCategory.controls.CategorySlug.touched"
                    id="CategorySlugHelp">This field is Required</span>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area icon_form_group">
                <select name="ParentCategory" formControlName="Ref_Parent_ID" id="Ref_Parent_ID" name="Ref_Parent_ID"
                    aria-describedby="Ref_Parent_IDHelp">
                    <option disabled selected>Select Parent Category</option>
                    <option *ngFor="let obj of categoryData" [value]="obj.Ref_Category_ID">{{obj.CategoryName}}
                    </option>
                </select>
                <span class="input_icon dropdown_icon"></span>
            </div>
            <div class="error_msg">
                <span *ngIf="formCategory.controls.Ref_Parent_ID.invalid && formCategory.controls.Ref_Parent_ID.touched"
                    id="Ref_Parent_IDHelp">This field is Required</span>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area">
                <textarea rows="4" formControlName="CategoryDescription" id="CategoryDescription"
                    placeholder="Enter Genre Name" aria-describedby="CategoryDescriptionHelp"
                    placeholder="Category Description"></textarea>
            </div>
            <div class="error_msg">
                <span
                    *ngIf="formCategory.controls.CategoryDescription.invalid && formCategory.controls.CategoryDescription.touched"
                    id="CategoryDescriptionHelp">This field is Required</span>
            </div>
        </div>
        <div class="form_group">
            <label class="form_label">Upload Service Cover Image</label>
            <div class="form_area">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span class="file_formats">Note: File upload limit - 3MB, Attchment format : jpg, jpeg,
                    png</span>
            </div>
            <!-- <div class="error_msg">
                        <span>This field is Required</span>
                    </div> -->
        </div>
        <div class="button_group">
            <a type="submit" (click)="setCategoryModel()" class="global_btn primary_btn">
                <span>{{btnTitle}}</span>
            </a>
            <a (click)="this._base._router.navigate(['gener'])" class="global_btn primary_btn">
                <span>Cancel</span>
            </a>
        </div>
    </form>
</div>