<div class="portlet_body admin_half_forms">
    <form [formGroup]="formCategory">
        <div class="form_group">
            <div class="form_area">
                <input type="text" formControlName="CategoryName" id="CategoryName" name="CategoryName"
                    placeholder="Enter Genre Name" aria-describedby="CategoryNameHelp" />
            </div>
            <div class="error_msg"
                *ngIf="formCategory.controls.CategoryName.invalid && formCategory.controls.CategoryName.touched">
                <span id="CategoryNameHelp">This field is Required</span>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area">
                <input type="text" formControlName="AliasName" id="AliasName" name="AliasName"
                    placeholder="Enter Genre Slug" aria-describedby="AliasNameHelp" />
            </div>
            <div class="error_msg"
                *ngIf="formCategory.controls.AliasName.invalid && formCategory.controls.AliasName.touched">
                <span id="AliasNameHelp">This field is Required</span>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area icon_form_group">
                <select name="ParentCategory" formControlName="Ref_Parent_ID">
                    <option value="">Select Parent Category / Genre</option>
                    <option *ngFor="let objCategory of categoryData" [value]="objCategory.Ref_Category_ID">
                        {{objCategory.CategoryName}}</option>
                </select>
                <span class="input_icon dropdown_icon"></span>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area">
                <!-- <edm-texteditor formControl></edm-texteditor> -->
                <textarea rows="4" formControlName="CategoryDescription" id="CategoryDescription"
                    placeholder="Enter Genre Name" aria-describedby="CategoryDescriptionHelp"
                    placeholder="Category Description"></textarea>
            </div>
            <div class="error_msg"
                *ngIf="formCategory.controls.CategoryDescription.invalid && formCategory.controls.CategoryDescription.touched">
                <span id="CategoryDescriptionHelp">This field is Required</span>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area icon_form_group">
                <select name="CategoryUseBy" formControlName="CategoryUseBy">
                    <option value="">Select Parent Category</option>
                    <option value="1">Track</option>
                    <option value="2">Beats</option>
                    <option value="3">Blog</option>
                    <option value="4">Service</option>
                </select>
                <span class="input_icon dropdown_icon"></span>
            </div>
        </div>
        <div class="form_group" *ngIf="fileChoosenData.ImageUrl.thumb">
            <label class="form_label">Upload Service Cover Image</label>
            <div id="imgPreview" class="imgPreview">
                <img height="80" width="120" [src]="fileChoosenData.ImageUrl.thumb" />
                <a class="remImage" id="delete" (click)="removeFile('ImageUrl')">
                    <img src="https://image.flaticon.com/icons/svg/261/261935.svg">
                </a>
            </div>
        </div>
        <div class="form_group" *ngIf="!fileChoosenData.ImageUrl.thumb">
            <label class="form_label">Upload Service Cover Image</label>
            <div class="form_area">
                <div class="custom-file">
                    <input type="file" (change)="fileChoosen($event,'ImageUrl')" class="custom-file-input"
                        id="customFile">
                    <img [src]="fileChoosenData.ImageUrl.thumb ? fileChoosenData.ImageUrl.thumb : '../../../../assets/images/product_thumbnail.jpg'"
                        class="image_preview" />
                    <label class="custom-file-label" for="customFile">
                        Choose file
                    </label>
                    <!-- <label class="custom-file-label upload_btn"></label> -->
                </div>
                <span class="file_formats">Note: File upload limit - 1GB</span>
            </div>
        </div>
        <div class="button_group">
            <a type="submit" (click)="setCategoryModel()" class="global_btn primary_btn">
                <span>{{btnTitle}}</span>
            </a>
            <a routerLink='/admin/category' class="global_btn primary_btn">
                <span>Cancel</span>
            </a>
        </div>
    </form>
</div>
<div class="modal fade acknowledge_popup" id="acknowledge_popup" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" keyboard="true">
    <div class="modal-md modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../../../../assets/images/success_tick.svg" alt="Genre Submitted Successfully">
                <h3>Thank You</h3>
                <p>Your Genre has been submitted will notify you the status of Genre approval.</p>
            </div>
        </div>
    </div>
</div>