<form [formGroup]="addmodifyauthority">
    <div class="portlet_body admin_half_forms">
        <div class="form_group">
            <div class="form_area icon_form_group">
                <input type="text" name="AuthorityName" formControlName="AuthorityName" [(ngModel)]="AuthorityName" placeholder="Authority Name" />
                <span class="input_icon "></span>
            </div>
            <edm-error [control]="addmodifyauthority.controls.AuthorityName"></edm-error>
        </div>
        <div class="form_group">
            <div class="form_area icon_form_group textarea_icon_form_group">
                <textarea rows="4" placeholder="Describe" formControlName="Description" [(ngModel)]="Description"></textarea>
                <span class="input_icon bio_icon"></span>
            </div>
            <span class="file_formats right_align">Max 1200 caractors</span>
            <edm-error [control]="addmodifyauthority.controls.Description"></edm-error>
        </div>
        <div class="form_group inline_form_group">
            <label>Authority Type</label>
            <div class="inline_checkbox">
                <label class="checkbox">
                    <input [ngModelOptions]="{standalone: true}" name="IsUser" [(ngModel)]="IsUser" type="checkbox" (change)="getmodule()">User
                    <span></span>
                </label>
                <label class="checkbox">
                    <input  [ngModelOptions]="{standalone: true}" name="IsAdmin" [(ngModel)]="IsAdmin" type="checkbox" (change)="getmodule()">Admin
                    <span></span>
                </label>
            </div>
            <div class="error_msg" *ngIf="IsAuthorityTypeChecked">
                <span>Please select atleast one Type</span>
            </div>
        </div>
        <div class="form_group inline_form_group">
            <label>User Master</label>
            <div class="inline_checkbox">
                <label class="checkbox">
                    <input [ngModelOptions]="{standalone: true}" name="IsuserMaster" [(ngModel)]="IsuserMaster" type="checkbox" (change)="getMasterlist()">
                    <span></span>
                </label>
            </div>
        </div>
        <div class="form_group" *ngIf="IsuserMaster">
            <div class="form_area icon_form_group">
                <div *ngFor="let usermaster of masterlist; let i = index">
                    <label class="checkbox">
                        <input name="usermaster_A_{{i}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="usermaster.isMasterchecked" type="checkbox" [checked]="usermaster.isMasterchecked" [disabled]="usermaster.isMasterdisabled" [value]="usermaster.Ref_UserMaster_ID" (change)="selectMaster(i, $event.target.checked,usermaster.Ref_UserMaster_ID, usermaster.UserMaster,0)">{{usermaster.UserMaster}}
                        <span></span>
                    </label>
                </div>
                <div class="master_ID">
                    <div *ngFor="let masterdata of masterdatas|async;trackBy:itemtrackby; let index = index">
                        <label *ngIf="masterdata.MasterData.length != 0">
                            <b>{{masterdata.UserMaster}} </b>
                        </label>
                        <div *ngFor="let data of masterdata.MasterData; let a = index">
                            <label class="checkbox">
                                <input name="data_A_{{a}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.isSelected" type="checkbox"  [value]="data.Ref_UserMasterData_ID" (change)="onSelectMasterData()">{{data.UserMasterData}}
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <edm-error [control]="addmodifyauthority.controls.masterdataID"></edm-error> -->

        </div>
        <div class="form_group" *ngIf="IsAdmin">
            <div class="form_area icon_form_group">
                <label>Module</label>
                <!-- <select name="ModuleID" formControlName="ModuleID" [value]="ModuleID" [(ngModel)]="ModuleID">
                            <option [value]="undefined" disabled hidden>Select Module</option>
                            <option *ngFor="let module of modulelist" [value]="module.Ref_Module_ID" [selected]="module.Ref_Module_ID == ModuleID">{{module.ModuleName}}</option>

                        </select>
                <span class="input_icon dropdown_icon"></span> -->
                <div *ngFor="let module of modulelist; let index = index">
                    <label class="checkbox">
                        <input formControlName="ModuleID" name="module_{{index}}" [(ngModel)]="module.isModulechecked" type="checkbox" (change)="onSelectModule()">{{module.ModuleName}}
                        <span></span>
                    </label>
                    <div class="form_group inline_form_group" *ngIf="module.isModulechecked">
                        <label class="form_label">Module Permission</label>
                        <div class="inline_checkbox">
                            <label class="checkbox">
                                <input [ngModelOptions]="{standalone: true}" name="modulepermissions_{{index}}" [(ngModel)]="module.ModuleAccess.View" type="checkbox">View
                                <span></span>
                            </label>
                            <label class="checkbox">
                                <input  [ngModelOptions]="{standalone: true}" name="modulepermissions_{{index}}" [(ngModel)]="module.ModuleAccess.Edit" type="checkbox">Edit
                                <span></span>
                            </label>
                            <label class="checkbox">
                                <input [ngModelOptions]="{standalone: true}" name="modulepermissions_{{index}}" [(ngModel)]="module.ModuleAccess.Delete" type="checkbox">Delete
                                <span></span>
                            </label>
                            <label class="checkbox">
                                <input [ngModelOptions]="{standalone: true}" name="modulepermissions_{{index}}" [(ngModel)]="module.ModuleAccess.Approval" type="checkbox">Approval
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <edm-error [control]="addmodifyauthority.controls.ModuleID"></edm-error> -->
            <div class="error_msg" *ngIf="IsModuleChecked">
                <span>Please select atleast one Type</span>
            </div>

        </div>

        <div class="button_group">
            <a class="global_btn primary_btn" (click)="addmodifyauthoritysubmit()">
                <span>Add</span>
            </a>
        </div>
    </div>


</form>