<div class="filter_section desktop_filter_section">
    <div class="inline_radio">
        <label class="radio">
            <input name="beats" type="radio" checked="checked">Available Beats
            <span></span>
        </label>
        <label class="radio">
            <input name="beats" type="radio">Sold Out Beats
            <span></span>
        </label>
        <label class="radio">
            <input name="beats" type="radio">Approved Beats
            <span></span>
        </label>
        <label class="radio error_color">
            <input name="beats" type="radio">Rejected Beats
            <span></span>
        </label>
    </div>
    <form>
        <div class="form_group">
            <div class="form_area icon_form_group">
                <select name="filterbygenre" class="grey_dropdown">
                    <option disabled selected>Filter By Genre</option>
                    <option>Options</option>
                    <option>Options</option>
                </select>
                <span class="input_icon down_icon"></span>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area icon_form_group">
                <select name="filterbyprice" class="grey_dropdown">
                    <option disabled selected>Filter By Price</option>
                    <option>Options</option>
                    <option>Options</option>
                </select>
                <span class="input_icon down_icon"></span>
            </div>
        </div>
    </form>
</div>
<div class="portlet_body">
    <div class="primary_table">
        <table style="min-width: 888px;">
            <thead>
                <tr>
                    <th>IMAGE</th>
                    <th>TRACK NAME</th>
                    <th>PRICE</th>
                    <th>GANRE</th>
                    <th style="width: 350px;">ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img class="tbl_img" src="../../../../assets/images/product_thumbnail.jpg" /></td>
                    <td>Raindrop</td>
                    <td>&#36;300</td>
                    <td>Bigroom</td>
                    <td class="table_btn">
                        <a class="global_btn icon_btn primary_btn">
                            <span>Edit</span>
                            <span class="edit_icon btn_icon"></span>
                        </a>
                        <a class="global_btn icon_btn red_btn">
                            <span>Delete</span>
                            <span class="delete_icon btn_icon"></span>
                        </a>
                        <a class="global_btn icon_btn grey_btn">
                            <span>View</span>
                            <span class="view_icon btn_icon"></span>
                        </a>
                        <a class="global_btn icon_btn primary_btn">
                            <span>Approve</span>
                            <span class="right_icon btn_icon"></span>
                        </a>
                        <a class="global_btn icon_btn red_btn">
                            <span>Reject</span>
                            <span class="delete_icon btn_icon"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><img class="tbl_img" src="../../../../assets/images/product_thumbnail.jpg" /></td>
                    <td>Raindrop</td>
                    <td>&#36;300</td>
                    <td>Bigroom</td>
                    <td class="table_btn">
                        <a class="global_btn icon_btn primary_btn">
                            <span>Edit</span>
                            <span class="edit_icon btn_icon"></span>
                        </a>
                        <a class="global_btn icon_btn red_btn">
                            <span>Delete</span>
                            <span class="delete_icon btn_icon"></span>
                        </a>
                        <a class="global_btn icon_btn grey_btn">
                            <span>View</span>
                            <span class="view_icon btn_icon"></span>
                        </a>
                        <a class="global_btn icon_btn primary_btn">
                            <span>Approve</span>
                            <span class="right_icon btn_icon"></span>
                        </a>
                        <a class="global_btn icon_btn red_btn">
                            <span>Reject</span>
                            <span class="delete_icon btn_icon"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><img class="tbl_img" src="../../../../assets/images/product_thumbnail.jpg" /></td>
                    <td>Raindrop</td>
                    <td>&#36;300</td>
                    <td>Bigroom</td>
                    <td class="table_btn">
                        <a class="global_btn icon_btn primary_btn">
                            <span>Edit</span>
                            <span class="edit_icon btn_icon"></span>
                        </a>
                        <a class="global_btn icon_btn red_btn">
                            <span>Delete</span>
                            <span class="delete_icon btn_icon"></span>
                        </a>
                        <a class="global_btn icon_btn grey_btn">
                            <span>View</span>
                            <span class="view_icon btn_icon"></span>
                        </a>
                        <a class="global_btn icon_btn primary_btn">
                            <span>Approve</span>
                            <span class="right_icon btn_icon"></span>
                        </a>
                        <a class="global_btn icon_btn red_btn">
                            <span>Reject</span>
                            <span class="delete_icon btn_icon"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="mobile_filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" keyboard="true">
    <div class="modal-md modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">More Filters</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="filter_list">
                    <form>
                        <div class="form_group">
                            <label class="form_label">Sort by Beats</label>
                            <div class="form_area">
                                <div class="inline_radio">
                                    <label class="radio">
                                        <input name="beats" type="radio" checked="checked">Available Beats
                                        <span></span>
                                    </label>
                                    <label class="radio">
                                        <input name="beats" type="radio">Sold Out Beats
                                        <span></span>
                                    </label>
                                    <label class="radio">
                                        <input name="beats" type="radio">Approved Beats
                                        <span></span>
                                    </label>
                                    <label class="radio error_color">
                                        <input name="beats" type="radio">Rejected Beats
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form_group">
                            <label class="form_label">Sort by Genre</label>
                            <div class="form_area icon_form_group">
                                <select name="filterbygenre" class="grey_dropdown">
                                    <option disabled selected>Filter By Genre</option>
                                    <option>Options</option>
                                    <option>Options</option>
                                </select>
                                <span class="input_icon down_icon"></span>
                            </div>
                        </div>
                        <div class="form_group">
                            <label class="form_label">Sort by Price</label>
                            <div class="form_area icon_form_group">
                                <select name="filterbyprice" class="grey_dropdown">
                                    <option disabled selected>Filter By Price</option>
                                    <option>Options</option>
                                    <option>Options</option>
                                </select>
                                <span class="input_icon down_icon"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block primary_btn">Apply Filter</button>
                <button type="button" class="btn btn-block primary_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>