<div class="servicedetails_page" *ngFor="let service of ServiceDetails">
    <h2 class="simple_heading">
        {{service.ServiceTitle}}
    </h2>
    <!-- <div class="servicesdetails_section">
        <div class="left_user_profile">
            <img src="../../../assets/images/producer_profile.jpg">
        </div>
        <div class="right_user_profile">
            <h3>MOMOSE MUSIC</h3>
            <p>I will create Ghost Produced track as per your Requirement</p>
        </div>
    </div> -->
    <div class="what_get_section servicesdetails_section">
        <div class="left_listing_img">
            <video id="videoTag" width="400px" height="425.6px" preload="none" [poster]='service.FileManager[0].FilePath' data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
            <source [src]="service.FileManager[1].FilePath" type='video/mp4' />
            <!-- <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' /> -->
        </video>
            <!-- <img [src]="service.Thumbnail"> -->
            <button (click)="playPause()">{{playPauseText}}</button>
        </div>
        <div class="right_listings">
            <h3 class="services_heading">What you will get:</h3>
            <ul class="vedio_steps">
                <li>
                    <i>1</i>
                    <span>Describe your future or Stucked project.</span>
                </li>
                <li>
                    <i>2</i>
                    <span>Get free consultation from our top notch dope producers.</span>
                </li>
                <li>
                    <i>3</i>
                    <span>Select the producer you want to work with.</span>
                </li>
                <li>
                    <i>4</i>
                    <span>Complete you next hit banger in within 10 days.</span>
                </li>
                <li>
                    <i>5</i>
                    <span>Complete you next hit banger in within 10 days.</span>
                </li>
                <li>
                    <i>6</i>
                    <span>Complete you next hit banger in within 10 days.</span>
                </li>
            </ul>
            <a class="global_btn primary_btn">
                <span>GET STARTED FOR &#36;{{service.Price}}</span>
            </a>
        </div>
    </div>
    <div class="servicesdetails_section description_section">
        <h3 class="services_heading">Description</h3>
        <p>
            {{service.Description}}
        </p>
    </div>
    <div class="servicesdetails_section description_section">
        <h3 class="services_heading">FAQ'S</h3>
        <!-- <div class="accordian" *ngFor="let FAQ of service.FAQList">
            <h3 class="services_heading">
                <span class="plus_icon"></span>
                <span> {{FAQ.Questions}}</span>
            </h3>
            <p>
                {{FAQ.Answer}}
            </p>
        </div> -->
        <accordion>
            <group [title]="FAQ.Questions" *ngFor="let FAQ of service.FAQList">{{FAQ.Answer}}</group>
            <!-- <group title="First Group">this is the content</group> -->
        </accordion>

    </div>