<table #dataTable [hidden]="ishide" class="primary_table">
    <thead>
        <tr>
            <!-- <th>Sr#</th> -->
            <th *ngIf="config?.showCheckBox"><input type="checkbox" name="checkALL" [(ngModel)]="isCheckAll"
                    (click)="checkALlItems($event)"></th>
            <th *ngFor="let title of config?.tableConfig">{{title.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tableItem of tableData;let i = index">
            <!-- <td>{{i+1}}</td> -->
            <td *ngIf="config?.showCheckBox"><input name="checkALL" type="checkbox"
                    [(ngModel)]='tableItem.isChecked_DataTable' (click)="tableClick(tableItem,'checkedBox')"></td>
            <td *ngFor="let key of config?.tableConfig">
                <ng-container *ngIf="key?.type == 'text'">
                    {{tableItem[key.identifer]}}
                </ng-container>
                <ng-container *ngIf="key?.type == 'link'">
                    <a (click)="tableClick(tableItem,key)">
                        {{tableItem[key.identifer]}}
                    </a>
                </ng-container>
                <ng-container *ngIf="key?.type == 'image'">
                    <!-- <a (click)="tableClick(tableItem,key)">
                        {{tableItem[key.identifer]}}
                    </a> -->
                    <div class="play_upper_layer">
                        <img class="tbl_img"
                            [src]="imageBaseUrl + (key?.dataType?.type == 'array' ? getNestedObject(tableItem[key.identifer],key.dataType.path) : tableItem[key.identifer])"
                            [style.height]="key?.size?.height" [style.width]="key?.size?.width">
                        <div class="play_audio">
                            <span class="playy" title="Play"></span>
                            <!-- <span title="Pause" class="pausee" style="display: none;"></span> -->
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="key?.type == 'custom'">
                    <!-- <a [title]="config?.tableConfig[i][key.navigate]">
                        {{tableItem[key.identifer]}}
                    </a> -->
                </ng-container>
                <ng-container *ngIf="key?.type == 'button'">
                    <!-- <ng-container *ngComponentOutlet="DatatablesComponent; 
                                content: [key.reference]"></ng-container> -->
                    <!-- <a [title]="config?.tableConfig[i][key.navigate]">
                        {{tableItem[key.identifer]}}
                    </a> -->
                </ng-container>
                <ng-container *ngIf="key?.type == 'flag'">
                    <div class="center_align tick_mark">
                        <i [ngClass]="tableItem[key.identifer] ? 'right_tick' : 'cancel_tick'"></i>
                    </div>
                </ng-container>
                <ng-container *ngIf="key?.type == 'button'">
                    <div class="table_btn">
                        <a *ngFor="let button of key?.buttonList" (click)="tableClick(tableItem,key,button)"
                            class="global_btn {{button.class}}">
                            <span>{{button.name}}</span>
                            <span *ngIf="button?.iconClass" class="delete_icon {{button.iconClass}}"></span>
                        </a>
                        <!-- <a class="global_btn primary_btn">
                            <span>Delete</span>
                            <span class="delete_icon btn_icon"></span>
                        </a> -->
                    </div>
                </ng-container>
                <ng-container *ngIf="key?.type == 'buttonIcons'">
                    <div class="table_btn">
                        <a *ngFor="let buttonIcon of key?.buttonIconList" [title]="buttonIcon.title"
                            (click)="tableClick(tableItem,key,buttonIcon)" class="{{buttonIcon.class}}">
                            <span class="{{buttonIcon.iconClass}}"></span>
                        </a>
                        <!-- <a title="Edit" class="small_icon_btn">
                            <span class="edit_btn"></span>
                        </a>
                        <a title="Delete" class="small_icon_btn">
                            <span class="delete_btn"></span>
                        </a>
                        <a title="View" class="small_icon_btn">
                            <span class="view_btn"></span>
                        </a> -->
                    </div>
                </ng-container>
            </td>
        </tr>
    </tbody>

</table>
<!-- <div #button>
    <h1>button</h1>
</div> -->