<div class="product_page">
    <div class="filter_btn" (click)="filtersDisplay()">
        <img src="../../assets/images/filter.svg" />
        <span>Filter</span>
    </div>
    <div class="filters desktop_filter">
        <div class="filter_list">
            <p class="filter_heading">
                FILTER BY GENRE
            </p>
            <div class="filter_value">
                <p *ngFor="let genre of genrelist" class="filter_options" [ngClass]="selectedOption(genre.CategoryName, 'Genre')" (click)="onGenreFilter(genre.CategoryName)">{{genre.CategoryName}}</p>
            </div>
        </div>
        <div class="filter_list">
            <p class="filter_heading">
                FILTER BY PRICE
            </p>
            <div class="filter_value">
                <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (valueChange)="pricefilter()"></ng5-slider>
            </div>
        </div>
        <div class="filter_list">
            <p class="filter_heading">
                FILTER BY DAW
            </p>
            <div class="filter_value">
                <div class="filter_value">
                    <p class="filter_options" *ngFor="let DAW of DAWlist" [ngClass]="selectedOption(DAW.Ref_DAW_ID, 'DAW')" (click)="onDAWFilter(DAW.Ref_DAW_ID)">{{DAW.DAW}}</p>
                </div>
            </div>
        </div>
        <div class="filter_list">
            <p class="filter_heading">
                FILTER BY
            </p>
            <div class="filter_value">
                <div class="filter_value">
                    <label class="checkbox">
                        <input name="productfilter" type="checkbox" checked="checked">Featured Track
                        <span></span>
                    </label>
                    <label class="checkbox">
                        <input name="productfilter" type="checkbox">100% Royalty Track
                        <span></span>
                    </label>
                    <label class="checkbox">
                        <input name="productfilter" type="checkbox">Track With Project Files
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="left_panel filter_panel" [ngClass]="{'panel_open_animation show_content' : isFilterDisplay==true}">
        <!-- "panel_close_animation" Class while Closing menu panel -->
        <div class="filter_list">
            <p class="filter_heading">
                FILTER BY GENRE
            </p>
            <div class="filter_value">
                <p *ngFor="let genre of genrelist" class="filter_options" [ngClass]="selectedOption(genre.CategoryName, 'Genre')" (click)="onGenreFilter(genre.CategoryName)">{{genre.CategoryName}}</p>
            </div>
        </div>
        <div class="filter_list">
            <p class="filter_heading">
                FILTER BY PRICE
            </p>
            <div class="filter_value">
                <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (valueChange)="pricefilter()"></ng5-slider>
            </div>
        </div>
        <div class="filter_list">
            <p class="filter_heading">
                FILTER BY DAW
            </p>
            <div class="filter_value">
                <p class="filter_options" *ngFor="let DAW of DAWlist" [ngClass]="selectedOption(DAW.Ref_DAW_ID, 'DAW')" (click)="onDAWFilter(DAW.Ref_DAW_ID)">{{DAW.DAW}}</p>
            </div>
        </div>
    </div>
    <div class="product_list">
        <div class="product_box" *ngFor="let product of filtersproducts">
            <div class="slider_product">
                <div class="product_img">
                    <img [src]="product.ThumbnailImageUrl" class="product_thumbnail">
                    <div class="product_upper_layer">
                        <img style="background:none" (click)="playaudio(product.PlayUrl, product.Ref_Track_ID, filtersproducts)" class="playpause_{{product.Ref_Track_ID}} play" [src]="playpauseImg" [title]="playpause" />
                        <p class="product_name">{{product.TrackName}}</p>
                        <p class="product_bass">{{product.CategoryName}}</p>
                    </div>
                </div>
                <div class="product_details">
                    <div class="left_details">
                        <img *ngIf="product.Favourite != 'Favourite'" src="../../../assets/images/blank_heart.svg" class="blank_heart" title="Add to Favorites" (click)="useraction(product.Ref_Track_ID,'Track','Favourite')" />

                        <img *ngIf="product.Favourite == 'Favourite'" src="../../../assets/images/fill_heart.svg" class="blank_heart" />
                        <img src="../../../assets/images/read_more.svg" routerLink="details/{{product.Ref_Track_ID}}" class="green_heart" title="Read More" />
                    </div>
                    <div class="right_details">
                        <a class="global_btn icon_btn primary_btn" title="Add To Cart" (click)="useraction(product.Ref_Track_ID,'Track','Add to cart')">
                            <span>&#36;{{product.Price}}</span>
                            <span class="add_to_cart_icon btn_icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="no_record" *ngIf="filtersproducts?.length == 0">
            No record found
        </div>
        <!-- <div class="product_box">
            <div class="slider_product">
                <div class="product_img">
                    <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                    <div class="product_upper_layer">
                        <img src="../../../assets/images/play_video.svg" title="Play" />
                        <p class="product_name">ZAPPIER</p>
                        <p class="product_bass">Future Bass</p>
                    </div>
                </div>
                <div class="product_details">
                    <div class="left_details">
                        <img src="../../../assets/images/blank_heart.svg" class="blank_heart" title="Add to Favorites" />
                        <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                    </div>
                    <div class="right_details">
                        <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                            <span>&#36;999</span>
                            <span class="add_to_cart_icon btn_icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="product_box">
            <div class="slider_product">
                <div class="product_img">
                    <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                    <div class="product_upper_layer">
                        <img src="../../../assets/images/play_video.svg" title="Play" />
                        <p class="product_name">ZAPPIER</p>
                        <p class="product_bass">Future Bass</p>
                    </div>
                </div>
                <div class="product_details">
                    <div class="left_details">
                        <img src="../../../assets/images/blank_heart.svg" class="blank_heart" title="Add to Favorites" />
                        <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                    </div>
                    <div class="right_details">
                        <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                            <span>&#36;999</span>
                            <span class="add_to_cart_icon btn_icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product_box">
            <div class="slider_product">
                <div class="product_img">
                    <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                    <div class="product_upper_layer">
                        <img src="../../../assets/images/play_video.svg" title="Play" />
                        <p class="product_name">ZAPPIER</p>
                        <p class="product_bass">Future Bass</p>
                    </div>
                </div>
                <div class="product_details">
                    <div class="left_details">
                        <img src="../../../assets/images/blank_heart.svg" class="blank_heart" title="Add to Favorites" />
                        <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                    </div>
                    <div class="right_details">
                        <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                            <span>&#36;999</span>
                            <span class="add_to_cart_icon btn_icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>