<div class="filter_section desktop_filter_section">
    <a class="add_new" *ngIf="modulename=='master'" routerLink="/admin/config/addmodifymasters/master/0">
        <span class="add_new_icon"></span>
        <span>Add Master</span>
    </a>
    <a class="add_new" *ngIf="modulename=='masterdata'" routerLink="/admin/config/addmodifymasters/masterdata/0">
        <span class="add_new_icon"></span>
        <span>Add MasterData</span>
    </a>
</div>

<div class="primary_table">
    <table style="min-width: 998px;">
        <thead>
            <tr>
                <th *ngIf="modulename=='master'">Master Name</th>
                <th *ngIf="modulename=='masterdata'">MasterData Name</th>
                <th>Description</th>
                <th *ngIf="modulename=='master'">Is Compulsory</th>
                <th>Is Active</th>
            </tr>
        </thead>
        <tbody *ngIf="modulename=='master'">
            <tr *ngFor="let usermaster of data">
                <td><a (click)="redirectToaddmodifymaster(usermaster.Ref_UserMaster_ID)">{{usermaster.UserMaster}}</a></td>
                <td>{{usermaster.Description}}</td>
                <td>{{usermaster.IsMandatory}}</td>
                <td>{{usermaster.IsActive}}</td>
            </tr>
        </tbody>
        <tbody *ngIf="modulename=='masterdata'">
            <tr *ngFor="let usermasterdata of data">
                <td><a (click)="redirectToaddmodifymaster(usermasterdata.Ref_UserMasterData_ID)">{{usermasterdata.UserMasterData}}</a></td>
                <td>{{usermasterdata.Description}}</td>
                <td>{{usermasterdata.IsActive}}</td>
            </tr>
        </tbody>
        <div class="no_record" *ngIf="data?.length == 0">
            No record found
        </div>
    </table>
</div>