swiper>.swiper.s-wrapper .swiper-pagination .swiper-pagination-handle .swiper-pagination-bullet.swiper-pagination-bullet-first, swiper>.swiper.s-wrapper .swiper-pagination .swiper-pagination-handle .swiper-pagination-bullet.swiper-pagination-bullet-last {
    border: 0 !important;
}
.swiper-pagination-bullet {
    background: #DCDCDC !important;
    opacity: 0.4 !important;
}
swiper>.swiper.s-wrapper.swiper-container-horizontal>.swiper-pagination .swiper-pagination-handle .swiper-pagination-bullet.swiper-pagination-bullet-first, swiper>.swiper.s-wrapper.swiper-container-horizontal>.swiper-pagination .swiper-pagination-handle .swiper-pagination-bullet.swiper-pagination-bullet-last {
    margin: 0 !important;
}
swiper>.swiper.s-wrapper .swiper-pagination .swiper-pagination-handle {
    padding: 0 !important;
    margin: 4px !important;
}
.swiper-pagination-bullet-active {
    background: #05C38F !important;
}