<div class="producerprofile_page">

    <div class="producer_profile profile_bg">
        <div class="left_producer_profile">
            <img src="../../../assets/images/producer_profile.jpg">
        </div>
        <div class="right_producer_profile">
            <h3>{{producerData?.TrackAndBeat?.data?.ProducerName}}</h3>
            <div class="producer_from">
                <span>From:</span> <span class="country_name">INDIA</span>
            </div>
        </div>
        <div class="social_section">
            <p class="tracks_list">
                {{producerData?.TrackAndBeat?.data?.ProducerBio}}
            </p>
            <div class="button_group">
                <a *ngIf="!producerData?.TrackAndBeat?.data?.Followed"
                    (click)="UserAction('follow',true,producerData.TrackAndBeat)"
                    class="global_btn icon_btn primary_btn mini_btn">
                    <span>FOLLOW</span>
                    <span class="follow_icon btn_icon left_btn_icon"></span>
                </a>
                <a *ngIf="producerData?.TrackAndBeat?.data?.Followed"
                    (click)="UserAction('follow',false,producerData.TrackAndBeat)"
                    class="global_btn icon_btn dark_grey_btn mini_btn">
                    <span>FOLLOWING</span>
                    <span class="follow_icon btn_icon left_btn_icon"></span>
                </a>
            </div>
            <div class="social_details">
                <div class="left_following_list">
                    <div class="following_list_box">
                        <p class="count_list">{{producerData?.TrackAndBeat?.data?.Followers}}</p>
                        <p class="count_title">Followers</p>
                    </div>
                    <div class="following_list_box">
                        <p class="count_list">-</p>
                        <!-- <p class="count_list">52</p> -->
                        <p class="count_title">Plays</p>
                    </div>
                    <div class="following_list_box">
                        <p class="count_list">-</p>
                        <!-- <p class="count_list">20</p> -->
                        <p class="count_title">Tracks</p>
                    </div>
                </div>
                <div class="right_social_lists">
                    <p class="share_us_btn">
                        Share Us On
                    </p>
                    <a href="#" class="bordered_facebook_icon" title="Facebook"></a>
                    <a href="#" class="bordered_instagram_icon" title="Instagram"></a>
                    <a href="#" class="bordered_twitter_icon" title="Twitter"></a>
                    <a href="#" class="bordered_youtube_icon" title="YouTube"></a>
                    <a href="#" class="bordered_soundcloud_icon" title="SoundCloud"></a>
                </div>
            </div>
            <div class="tab_section desktop_tabs">
                <p (click)="changeTab(producerTab.biography)" class="tab_list">
                    <a [ngClass]="{'active' : currentTab == producerTab.biography }">BIOGRAPHY</a>
                </p>
                <p (click)="changeTab(producerTab.all_track)" class="tab_list">
                    <a [ngClass]="{'active' : currentTab == producerTab.all_track }">ALL TRACKS</a>
                </p>
                <p (click)="changeTab(producerTab.sold_out_track)" class="tab_list">
                    <a [ngClass]="{'active' : currentTab == producerTab.sold_out_track }">SOLD OUT TRACKS</a>
                </p>
                <p (click)="changeTab(producerTab.beats)" class="tab_list">
                    <a [ngClass]="{'active' : currentTab == producerTab.beats }">BEATS</a>
                </p>
                <p (click)="changeTab(producerTab.customer_services)" class="tab_list">
                    <a [ngClass]="{'active' : currentTab == producerTab.customer_services }">CUSTOM SERVICES</a>
                </p>
            </div>
            <div class="form_group mobile_tabs">
                <div class="form_area icon_form_group">
                    <select [(ngModel)]="currentTab">
                        <option [value]="producerTab.biography">BIOGRAPGY</option>
                        <option [value]="producerTab.all_track">ALL TRACKS</option>
                        <option [value]="producerTab.sold_out_track">SOLD OUT TRACKS</option>
                        <option [value]="producerTab.beats">BEATS</option>
                        <option [value]="producerTab.customer_services">CUSTOM SERVICES</option>
                    </select>
                    <span class="input_icon dropdown_icon"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="tab_options">



        <!-- BIOGRAPHY -->
        <div *ngIf="currentTab == producerTab.biography">
            <div class="biography_sec">
                <h3>{{producerData?.TrackAndBeat?.data?.ProducerName}}</h3>
                <div class="from_sec">
                    <span>From:</span> <span class="from_country_name">INDIA</span>
                </div>
                <p class="biography_disc">
                    {{producerData?.TrackAndBeat?.data?.ProducerBio}}
                </p>
            </div>
            <!-- NO RECORD FOUND -->
            <!-- <div class="no_record">No Record Found</div> -->
        </div>

        <!-- ALL TRACKS -->
        <div *ngIf="currentTab == producerTab.all_track">
            <div class="product_box" *ngFor="let track of producerData?.TrackAndBeat?.tracks">
                <div class="slider_product">
                    <div class="product_img">
                        <img [src]="config?.cdnURL + track?.ThumbnailImageUrl" class="product_thumbnail">
                        <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                        <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                        <div class="product_upper_layer">
                            <img src="../../../assets/images/play_video.svg" title="Play" />
                            <p class="product_name">{{track?.TrackName}}</p>
                            <p class="product_bass">{{track?.TrackType}}</p>
                        </div>
                    </div>
                    <div class="product_details">
                        <div class="left_details">
                            <img src="../../../assets/images/{{track.Favourite == '-' ? 'blank_heart' : 'fill_heart'}}.svg"
                                (click)="UserAction('favorite',track.Favourite == '-',track)" class="blank_heart"
                                title="Add to Favorites" />
                            <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                            <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                        </div>
                        <div class="right_details">
                            <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                <span>&#36;{{track?.Price}}</span>
                                <span class="add_to_cart_icon btn_icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- NO RECORD FOUND -->
            <div class="no_record" *ngIf="producerData?.TrackAndBeat?.tracks?.length < 1">No Record Found</div>

            <ng-container *ngIf="false">
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <!-- SOLD OUT TRACKS -->
        <div *ngIf="currentTab == producerTab.sold_out_track">
            <div class="product_box" *ngFor="let track of producerData?.TrackAndBeat?.soldOutTracks">
                <div class="slider_product">
                    <div class="product_img">
                        <img [src]="config?.cdnURL + track?.ThumbnailImageUrl" class="product_thumbnail">
                        <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                        <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                        <div class="product_upper_layer">
                            <img src="../../../assets/images/play_video.svg" title="Play" />
                            <p class="product_name">{{track?.TrackName}}</p>
                            <p class="product_bass">{{track?.TrackType}}</p>
                        </div>
                        <div class="product_sold_out">SOLD OUT</div>
                    </div>
                    <div class="product_details">
                        <div class="left_details">
                            <img src="../../../assets/images/{{track.Favourite == '-' ? 'blank_heart' : 'fill_heart'}}.svg"
                                (click)="UserAction('favorite',track.Favourite == '-',track)" class="blank_heart"
                                title="Add to Favorites" />
                            <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                            <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                        </div>
                        <div class="right_details">
                            <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                <span>&#36;{{track?.Price}}</span>
                                <span class="add_to_cart_icon btn_icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- NO RECORD FOUND -->
            <div class="no_record" *ngIf="producerData?.TrackAndBeat?.soldOutTracks?.length < 1">No Record Found</div>

            <ng-container *ngIf="false">
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                            <div class="product_sold_out">SOLD OUT</div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                            <div class="product_sold_out">SOLD OUT</div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                            <div class="product_sold_out">SOLD OUT</div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                            <div class="product_sold_out">SOLD OUT</div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                            <div class="product_sold_out">SOLD OUT</div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                            <div class="product_sold_out">SOLD OUT</div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                            <div class="product_sold_out">SOLD OUT</div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <div class="slider_product">
                        <div class="product_img">
                            <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                            <!-- <img src=" ../../../../../assets/images/product_thumbnail.jpg" class="product_thumbnail"> -->
                            <div class="product_upper_layer">
                                <img src="../../../assets/images/play_video.svg" title="Play" />
                                <p class="product_name">ZAPPIER</p>
                                <p class="product_bass">Future Bass</p>
                            </div>
                            <div class="product_sold_out">SOLD OUT</div>
                        </div>
                        <div class="product_details">
                            <div class="left_details">
                                <img src="../../../assets/images/blank_heart.svg" class="blank_heart"
                                    title="Add to Favorites" />
                                <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart"/> -->
                                <img src="../../../assets/images/read_more.svg" class="green_heart" title="Read More" />
                            </div>
                            <div class="right_details">
                                <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                                    <span>&#36;999</span>
                                    <span class="add_to_cart_icon btn_icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <!-- BEATS -->
        <div *ngIf="currentTab == producerTab.beats">
            <div class="primary_table">
                <table style="min-width: 900px;">
                    <thead>
                    </thead>
                    <tbody>
                        <tr *ngFor="let beats of producerData?.TrackAndBeat?.beats">
                            <td>
                                <div class="play_upper_layer">
                                    <img class="tbl_img" [src]="config?.cdnURL + beats?.ThumbnailImageUrl" />
                                    <!-- <img class="tbl_img" src="../../../../assets/images/product_thumbnail.jpg" /> -->
                                    <div class="play_audio">
                                        <span title="Play" class="play"></span>
                                        <span title="Pause" class="pause" style="display: none;"></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <b>{{beats?.TrackName}}</b><br>
                                <b><small>by <a
                                            href="#"><u>{{producerData?.TrackAndBeat?.data?.ProducerName}}</u></a></small></b>
                            </td>
                            <td>
                                <b><u><a>
                                            Hiphop
                                        </a></u></b>
                            </td>
                            <td>
                                <b>{{beats?.BMP}}</b>BPM
                            </td>
                            <td>
                                <b>30k</b>Plays
                            </td>
                            <td>
                                <div class="table_btn">
                                    <a title="Like" class="small_icon_btn">
                                        <span class="add_to_favourites_green_icon"></span>
                                    </a>
                                    <a title="Add to playlist" class="small_icon_btn">
                                        <span class="readmore_icon"></span>
                                    </a>
                                    <a title="Like" class="small_icon_btn">
                                        <span class="add_to_cart_blue_icon"></span>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="table_btn">
                                    <a class="global_btn primary_btn margin_0">
                                        <span>$ {{beats?.Price}} <b>BUY NOW</b></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <ng-container *ngIf="false">
                            <tr>
                                <td>
                                    <div class="play_upper_layer">
                                        <img class="tbl_img" src="../../../../assets/images/product_thumbnail.jpg" />
                                        <div class="play_audio">
                                            <span title="Play" class="play"></span>
                                            <span title="Pause" class="pause" style="display: none;"></span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <b>Extreme Adventure</b><br>
                                    <b><small>by <a href="#"><u>momose</u></a></small></b>
                                </td>
                                <td>
                                    <b><u><a>
                                                Hiphop
                                            </a></u></b>
                                </td>
                                <td>
                                    <b>140</b>BPM
                                </td>
                                <td>
                                    <b>30k</b>Plays
                                </td>
                                <td>
                                    <div class="table_btn">
                                        <a title="Like" class="small_icon_btn">
                                            <span class="add_to_favourites_green_icon"></span>
                                        </a>
                                        <a title="Add to playlist" class="small_icon_btn">
                                            <span class="readmore_icon"></span>
                                        </a>
                                        <a title="Like" class="small_icon_btn">
                                            <span class="add_to_cart_blue_icon"></span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="table_btn">
                                        <a class="global_btn primary_btn margin_0">
                                            <span>$ 500 <b>BUY NOW</b></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="play_upper_layer">
                                        <img class="tbl_img" src="../../../../assets/images/product_thumbnail.jpg" />
                                        <div class="play_audio">
                                            <span title="Play" class="play"></span>
                                            <span title="Pause" class="pause" style="display: none;"></span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <b>Extreme Adventure</b><br>
                                    <b><small>by <a href="#"><u>momose</u></a></small></b>
                                </td>
                                <td>
                                    <b><u><a>
                                                Hiphop
                                            </a></u></b>
                                </td>
                                <td>
                                    <b>140</b>BPM
                                </td>
                                <td>
                                    <b>30k</b>Plays
                                </td>
                                <td>
                                    <div class="table_btn">
                                        <a title="Like" class="small_icon_btn">
                                            <span class="add_to_favourites_green_icon"></span>
                                        </a>
                                        <a title="Add to playlist" class="small_icon_btn">
                                            <span class="readmore_icon"></span>
                                        </a>
                                        <a title="Like" class="small_icon_btn">
                                            <span class="add_to_cart_blue_icon"></span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="table_btn">
                                        <a class="global_btn primary_btn margin_0">
                                            <span>$ 500 <b>BUY NOW</b></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="play_upper_layer">
                                        <img class="tbl_img" src="../../../../assets/images/product_thumbnail.jpg" />
                                        <div class="play_audio">
                                            <span title="Play" class="play"></span>
                                            <span title="Pause" class="pause" style="display: none;"></span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <b>Extreme Adventure</b><br>
                                    <b><small>by <a href="#"><u>momose</u></a></small></b>
                                </td>
                                <td>
                                    <b><u><a>
                                                Hiphop
                                            </a></u></b>
                                </td>
                                <td>
                                    <b>140</b>BPM
                                </td>
                                <td>
                                    <b>30k</b>Plays
                                </td>
                                <td>
                                    <div class="table_btn">
                                        <a title="Like" class="small_icon_btn">
                                            <span class="add_to_favourites_green_icon"></span>
                                        </a>
                                        <a title="Add to playlist" class="small_icon_btn">
                                            <span class="readmore_icon"></span>
                                        </a>
                                        <a title="Like" class="small_icon_btn">
                                            <span class="add_to_cart_blue_icon"></span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="table_btn">
                                        <a class="global_btn primary_btn margin_0">
                                            <span>$ 500 <b>BUY NOW</b></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <!-- NO RECORD FOUND -->
            <div class="no_record" *ngIf="producerData?.TrackAndBeat?.beats?.length < 1">No Record Found</div>

        </div>

        <!-- CUSTOM SERVICES -->
        <div *ngIf="currentTab == producerTab.customer_services">
            <div class="news_sec" *ngFor="let service of producerData.CustomServices">
                <div class="news_data">
                    <img [src]="config?.cdnURL + service?.ThumbnailImageUrl">
                    <div class="news_content">
                        <h2>{{service?.ServiceTitle}}</h2>
                        <p>{{service?.Description}}</p>
                        <a class="global_btn icon_btn primary_btn">
                            <span>Read More</span>
                            <span class="double_right_icon btn_icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="false">

                <div class="news_sec">
                    <div class="news_data">
                        <img src="../../assets/images/blog2.jpg">
                        <div class="news_content">
                            <h2>Dummy Short Heading</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a class="global_btn icon_btn primary_btn">
                                <span>Read More</span>
                                <span class="double_right_icon btn_icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="news_sec">
                    <div class="news_data">
                        <img src="../../assets/images/blog3.jpg">
                        <div class="news_content">
                            <h2>Dummy Short Heading</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a class="global_btn icon_btn primary_btn">
                                <span>Read More</span>
                                <span class="double_right_icon btn_icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="news_sec">
                    <div class="news_data">
                        <img src="../../assets/images/blog3.jpg">
                        <div class="news_content">
                            <h2>Dummy Short Heading</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a class="global_btn icon_btn primary_btn">
                                <span>Read More</span>
                                <span class="double_right_icon btn_icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- NO RECORD FOUND -->
            <div class="no_record" *ngIf="producerData?.CustomServices?.length < 1">No Record Found</div>

        </div>

    </div>

</div>