<div class="footer_sec">
    <div class="footer_parts">
        <h2>Download App</h2>
        <ul>
            <li>
                <a herf="#" target="_blank">
                    <span class="appstore_icon store_icon"></span>
                </a>
            </li>
            <li>
                <a herf="#" target="_blank">
                    <span class="playstore_icon store_icon"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer_parts">
        <h2>Dope Track</h2>
        <ul>
            <li>
                <a herf="#" target="_blank">About Us</a>
            </li>
            <li>
                <a herf="#" target="_blank">Blogs</a>
            </li>
            <li>
                <a herf="#" target="_blank">Jobs</a>
            </li>
            <li>
                <a herf="#" target="_blank">FAQ's</a>
            </li>
        </ul>
    </div>
    <div class="footer_parts">
        <h2>Support</h2>
        <ul>
            <li>
                <a herf="#" target="_blank">Signup</a>
            </li>
            <li>
                <a herf="#" target="_blank">Start Selling</a>
            </li>
            <li>
                <a herf="#" target="_blank">Support</a>
            </li>
            <li>
                <a herf="#" target="_blank">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="footer_parts">
        <h2>Press</h2>
        <ul>
            <li>
                <a herf="#" target="_blank">Signup</a>
            </li>
            <li>
                <a herf="#" target="_blank">Start Selling</a>
            </li>
            <li>
                <a herf="#" target="_blank">Support</a>
            </li>
            <li>
                <a herf="#" target="_blank">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="footer_parts">
        <h2>Connecting Us Socially</h2>
        <li>
            <a herf="#" target="_blank">
                <span class="facebook_icon icon"></span>Facebook
            </a>
        </li>
        <li>
            <a herf="#" target="_blank">
                <span class="instagram_icon icon"></span>Instagram
            </a>
        </li>
        <li>
            <a herf="#" target="_blank">
                <span class="twitter_icon icon"></span>Twitter
            </a>
        </li>
        <li>
            <a herf="#" target="_blank">
                <span class="youtube_icon icon"></span>YouTube
            </a>
        </li>
    </div>
</div>
<div class="footer_copyright">
    All Right Reserved <b>dopetrack</b> | Designed & Developed By <a href="http://webdroids.in/" target="_blank"><b>Webdroids</b></a>
</div>