<h2 class="simple_heading">CART</h2>
<div class="cart_page">
    <div class="cart_items">
        <div class="primary_table">
            <table style="min-width: 800px;">
                <tbody>
                    <tr>
                        <td>
                            <div class="play_upper_layer">
                                <img class="tbl_img" src="../../../../assets/images/product_thumbnail.jpg" />
                                <div class="play_audio">
                                    <span title="Play" class="play_audio"></span>
                                    <span title="Pause" class="pause_audio" style="display: none;"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <b>Extreme Adventure</b><br>
                            <b><small>by <a href="#"><u>Jorden</u></a></small></b>
                        </td>
                        <td>
                            <b><a>
                                Hiphop
                            </a></b>
                        </td>
                        <td>
                            <div class="table_btn">
                                <a class="global_btn primary_btn">
                                    <span><b>$ 500</b></span>
                                </a>
                                <a class="global_btn primary_btn">
                                    <span>Add Project Files</span>
                                    <span class="bio_black_icon btn_icon left_btn_icon"></span>
                                </a>
                                <a class="global_btn red_btn">
                                    <span>Remove</span>
                                    <span class="delete_icon btn_icon"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="play_upper_layer">
                                <img class="tbl_img" src="../../../../assets/images/product_thumbnail.jpg" />
                                <div class="play_audio">
                                    <span title="Play" class="play_audio"></span>
                                    <span title="Pause" class="pause_audio" style="display: none;"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <b>Extreme Adventure</b><br>
                            <b><small>by <a href="#"><u>Jorden</u></a></small></b>
                        </td>
                        <td>
                            <b><a>
                                Hiphop
                            </a></b>
                        </td>
                        <td>
                            <div class="table_btn">
                                <a class="global_btn primary_btn">
                                    <span><b>$ 500</b></span>
                                </a>
                                <a class="global_btn primary_btn">
                                    <span>Add Project Files</span>
                                    <span class="bio_black_icon btn_icon left_btn_icon"></span>
                                </a>
                                <a class="global_btn red_btn">
                                    <span>Remove</span>
                                    <span class="delete_icon btn_icon"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="play_upper_layer">
                                <img class="tbl_img" src="../../../../assets/images/product_thumbnail.jpg" />
                                <div class="play_audio">
                                    <span title="Play" class="play_audio"></span>
                                    <span title="Pause" class="pause_audio" style="display: none;"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <b>Extreme Adventure</b><br>
                            <b><small>by <a href="#"><u>Jorden</u></a></small></b>
                        </td>
                        <td>
                            <b><a>
                                Hiphop
                            </a></b>
                        </td>
                        <td>
                            <div class="table_btn">
                                <a class="global_btn primary_btn">
                                    <span><b>$ 500</b></span>
                                </a>
                                <a class="global_btn primary_btn">
                                    <span>Add Project Files</span>
                                    <span class="bio_black_icon btn_icon left_btn_icon"></span>
                                </a>
                                <a class="global_btn red_btn">
                                    <span>Remove</span>
                                    <span class="delete_icon btn_icon"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="cart_total">
        <div class="total_count_list">
            <div class="coupon_section">
                <div class="form_group">
                    <div class="form_area">
                        <input type="text" name="couponcode" placeholder="Enter Valid Coupon Code" />
                    </div>
                    <a class="global_btn primary_btn">
                        <span>APPLY</span>
                    </a>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
            <ul>
                <li>Subtotal:-</li>
                <li>$1023</li>
            </ul>
            <ul>
                <li>Service Tax - (5.2%):-</li>
                <li>$188</li>
            </ul>
            <ul class="total">
                <li>Total:-</li>
                <li>$1211</li>
            </ul>
            <a class="global_btn primary_btn full_btn">
                <span>PLACE ORDER</span>
            </a>
            <div class="payment_options">
                <a title="Paypal" href="#">
                    <img src="../../assets/images/paypal_logo.svg" />
                </a>
                <a title="Visa" href="#">
                    <img src="../../assets/images/visa_logo.svg" />
                </a>
                <a title="Master Card" href="#">
                    <img src="../../assets/images/mastercard_logo.svg" />
                </a>
                <a title="American Express" href="#">
                    <img src="../../assets/images/american_express_logo.svg" />
                </a>
            </div>
        </div>
    </div>
</div>