<h2 class="simple_heading">TRACK</h2>
<div class="wishlist_page">
    <div class="product_list track_list">
        <div class="product_box" *ngFor="let product of tracklist">
            <div class="slider_product" style="position: relative;">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove" (click)="useraction(product.ObjectID,'Track','Unwishlist')">
                <div class="product_img">
                    <img [src]="product.Thumbnail" class="product_thumbnail">
                    <div class="product_upper_layer">
                        <img style="background:none" style="bottom: 90px;" (click)="playaudio(product.PlayUrl, product.ObjectID, 'play', 'pause')" class="playpause_{{product.ObjectID}} play" [src]="setImg(product.ObjectID)" />
                        <p class="product_name">{{product.ObjectName}}</p>
                        <p class="product_bass">{{product.ObjectCategory}}</p>
                    </div>
                </div>
                <div class="product_details">
                    <div class="left_details">
                        <img *ngIf="product.Favourite != 'Favourite'" src="../../../assets/images/blank_heart.svg" class="blank_heart" title="Add to Favorites" (click)="useraction(product.ObjectID,'Track','Favourite')" />

                        <img *ngIf="product.Favourite == 'Favourite'" src="../../../assets/images/fill_heart.svg" class="blank_heart" />
                        <img src="../../../assets/images/read_more.svg" routerLink="details/{{product.ObjectID}}" class="green_heart" title="Read More" />
                    </div>
                    <div class="right_details">
                        <a class="global_btn icon_btn primary_btn" title="Add To Cart" (click)="Order('ADD_TO_CART',product.ObjectID,'Track','Track')">
                            <span>&#36;{{product.Price}}</span>
                            <span class="add_to_cart_icon btn_icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="no_record" *ngIf="tracklist?.length == 0">
            No record found
        </div>
    </div>
</div>
<h2 class="simple_heading">BEATS</h2>
<div class="wishlist_page">
    <div class="product_list">
        <div class="beats_box" *ngFor="let beat of beatlist">
            <div class="beats_sec">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove" (click)="useraction(beat.ObjectID,'Beat','Unwishlist')">
                <div class="play_upper_layer">
                    <img class="beats_thumbnail" [src]="beat.Thumbnail" />
                    <!-- <div class="play_audio">
                        <span class="playy" title="Play"></span>
                        <span title="Pause" class="pausee" style="display: none;"></span>
                    </div> -->
                    <div class="play_audio" [id]="beat.ObjectID" (click)="playaudio(beat.PlayUrl, beat.ObjectID, 'playy', 'pausee')">
                        <span class="playpause_{{beat.ObjectID}} playy"></span>
                        <!-- <span title="Pause" class="pausee" style="display: none;"></span> -->
                    </div>
                </div>
                <div class="beats_info">
                    <h2>{{beat.ObjectName}}</h2>
                    <p>
                        by <a href="#">momose</a>
                    </p>
                </div>
                <div class="button_group">
                    <a class="global_btn icon_btn primary_btn" title="Add To Cart" (click)="Order('ADD_TO_CART',beat.ObjectID,'Beats','Beats')">
                        <span>&#36;{{beat.Price}}</span>
                        <span class="add_to_cart_icon btn_icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- <div class="beats_box">
            <div class="beats_sec">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="play_upper_layer">
                    <img class="beats_thumbnail" src="../../assets/images/product_thumbnail.jpg" />
                    <div class="play_audio">
                        <span class="playy" title="Play"></span>
                        <span title="Pause" class="pausee" style="display: none;"></span>
                    </div>
                </div>
                <div class="beats_info">
                    <h2>Extreme Adventure</h2>
                    <p>
                        by <a href="#">momose</a>
                    </p>
                </div>
                <div class="button_group">
                    <a class="global_btn icon_btn primary_btn">
                        <span>Cart</span>
                        <span class="add_to_cart_icon btn_icon left_btn_icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="beats_box">
            <div class="beats_sec">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="play_upper_layer">
                    <img class="beats_thumbnail" src="../../assets/images/product_thumbnail.jpg" />
                    <div class="play_audio">
                        <span class="playy" title="Play"></span>
                        <span title="Pause" class="pausee" style="display: none;"></span>
                    </div>
                </div>
                <div class="beats_info">
                    <h2>Extreme Adventure</h2>
                    <p>
                        by <a href="#">momose</a>
                    </p>
                </div>
                <div class="button_group">
                    <a class="global_btn icon_btn primary_btn">
                        <span>Cart</span>
                        <span class="add_to_cart_icon btn_icon left_btn_icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="beats_box">
            <div class="beats_sec">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="play_upper_layer">
                    <img class="beats_thumbnail" src="../../assets/images/product_thumbnail.jpg" />
                    <div class="play_audio">
                        <span class="playy" title="Play"></span>
                        <span title="Pause" class="pausee" style="display: none;"></span>
                    </div>
                </div>
                <div class="beats_info">
                    <h2>Extreme Adventure</h2>
                    <p>
                        by <a href="#">momose</a>
                    </p>
                </div>
                <div class="button_group">
                    <a class="global_btn icon_btn primary_btn">
                        <span>Cart</span>
                        <span class="add_to_cart_icon btn_icon left_btn_icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="beats_box">
            <div class="beats_sec">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="play_upper_layer">
                    <img class="beats_thumbnail" src="../../assets/images/product_thumbnail.jpg" />
                    <div class="play_audio">
                        <span class="playy" title="Play"></span>
                        <span title="Pause" class="pausee" style="display: none;"></span>
                    </div>
                </div>
                <div class="beats_info">
                    <h2>Extreme Adventure</h2>
                    <p>
                        by <a href="#">momose</a>
                    </p>
                </div>
                <div class="button_group">
                    <a class="global_btn icon_btn primary_btn">
                        <span>Cart</span>
                        <span class="add_to_cart_icon btn_icon left_btn_icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="beats_box">
            <div class="beats_sec">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="play_upper_layer">
                    <img class="beats_thumbnail" src="../../assets/images/product_thumbnail.jpg" />
                    <div class="play_audio">
                        <span class="playy" title="Play"></span>
                        <span title="Pause" class="pausee" style="display: none;"></span>
                    </div>
                </div>
                <div class="beats_info">
                    <h2>Extreme Adventure</h2>
                    <p>
                        by <a href="#">momose</a>
                    </p>
                </div>
                <div class="button_group">
                    <a class="global_btn icon_btn primary_btn">
                        <span>Cart</span>
                        <span class="add_to_cart_icon btn_icon left_btn_icon"></span>
                    </a>
                </div>
            </div>
        </div> -->
        <div class="no_record" *ngIf="beatlist?.length == 0">
            No record found
        </div>
    </div>
</div>