.wishlist_page {
    .track_list {
        padding-bottom: 0 !important;
    }
    .product_list {
        width: 100%;
    }
    .product_list .product_box {
        width: 20%;
    }
    .remove_track {
        position: absolute;
        right: 0;
        top: 0;
        left: auto;
        bottom: auto;
        width: 18px;
        z-index: 1;
        margin: 5px;
        background-color: white;
        border-radius: 100%;
        cursor: pointer;
    }
    .beats_box {
        width: 25%;
        display: inline-block;
        padding: 10px;
        vertical-align: top;
    }
    .beats_sec {
        background: #F4F4F4;
        padding: 15px;
        transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
        box-shadow: 0 0 7px #dedede;
        -webkit-box-shadow: 0 0 7px #dedede;
        -moz-box-shadow: 0 0 7px #dedede;
        border-radius: 10px;
        position: relative;
    }
    .beats_sec:hover {
        box-shadow: 0 0 7px #c1c1c1;
        -webkit-box-shadow: 0 0 7px #c1c1c1;
        -moz-box-shadow: 0 0 7px #c1c1c1;
    }
    .play_upper_layer img {
        max-width: 50px;
        max-height: 50px;
        border-radius: 5px;
        width: auto;
        height: auto;
    }
    .beats_info {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 50px);
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .play_upper_layer {
        width: 50px;
        height: 50px;
        display: inline-block;
    }
    .beats_info h2 {
        font-size: 17px;
        margin: 0 0 5px 0;
    }
    .beats_info p {
        margin: 0;
        font-size: 11px;
        font-weight: bold;
    }
    .button_group .global_btn {
        margin-bottom: 0;
    }
}


/* ********** Responsive ********** */

@media screen and (max-width: 1200px) {
    .wishlist_page {
        .product_list .product_box {
            width: 25%;
        }
        .beats_info {
            padding-left: 10px;
        }
        .beats_box {
            width: 33.33%;
        }
    }
}

@media screen and (max-width: 950px) {
    .wishlist_page {
        .product_list .product_box {
            width: 33%;
        }
    }
}

@media screen and (max-width: 768px) {
    .wishlist_page {
        .beats_box {
            width: 50%;
        }
        .product_list .product_box {
            width: 33%;
        }
    }
}

@media screen and (max-width: 700px) {
    .wishlist_page {
        .product_list .product_box {
            width: 50%;
        }
    }
}

@media screen and (max-width: 500px) {
    .wishlist_page {
        .beats_box {
            width: 100%;
            padding: 0 10px 20px 10px;
        }
        .product_list .product_box {
            width: 100%;
        }
    }
}