<h2 class="simple_heading">TRACK</h2>
<div class="wishlist_page">
    <div class="product_list">
        <div class="product_box">
            <div class="slider_product">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="product_img">
                    <img src="../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                    <div class="product_upper_layer">
                        <img style="background:none" class="play" src="../../assets/images/play_video.svg" />
                        <p class="product_name">product.TrackName</p>
                        <p class="product_bass">product.CategoryName</p>
                    </div>
                </div>
                <div class="product_details">
                    <div class="left_details">
                        <img src="../../../assets/images/blank_heart.svg" class="blank_heart" title="Add to Favorites"/>
                        <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart" /> -->
                        <img src="../../../assets/images/read_more.svg"class="green_heart" title="Read More" />
                    </div>
                    <div class="right_details">
                        <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                            <span>Price</span>
                            <span class="add_to_cart_icon btn_icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product_box">
            <div class="slider_product">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="product_img">
                    <img src="../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                    <div class="product_upper_layer">
                        <img style="background:none" class="play" src="../../assets/images/play_video.svg" />
                        <p class="product_name">product.TrackName</p>
                        <p class="product_bass">product.CategoryName</p>
                    </div>
                </div>
                <div class="product_details">
                    <div class="left_details">
                        <img src="../../../assets/images/blank_heart.svg" class="blank_heart" title="Add to Favorites"/>
                        <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart" /> -->
                        <img src="../../../assets/images/read_more.svg"class="green_heart" title="Read More" />
                    </div>
                    <div class="right_details">
                        <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                            <span>Price</span>
                            <span class="add_to_cart_icon btn_icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product_box">
            <div class="slider_product">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="product_img">
                    <img src="../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                    <div class="product_upper_layer">
                        <img style="background:none" class="play" src="../../assets/images/play_video.svg" />
                        <p class="product_name">product.TrackName</p>
                        <p class="product_bass">product.CategoryName</p>
                    </div>
                </div>
                <div class="product_details">
                    <div class="left_details">
                        <img src="../../../assets/images/blank_heart.svg" class="blank_heart" title="Add to Favorites"/>
                        <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart" /> -->
                        <img src="../../../assets/images/read_more.svg"class="green_heart" title="Read More" />
                    </div>
                    <div class="right_details">
                        <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                            <span>Price</span>
                            <span class="add_to_cart_icon btn_icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product_box">
            <div class="slider_product">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="product_img">
                    <img src="../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                    <div class="product_upper_layer">
                        <img style="background:none" class="play" src="../../assets/images/play_video.svg" />
                        <p class="product_name">product.TrackName</p>
                        <p class="product_bass">product.CategoryName</p>
                    </div>
                </div>
                <div class="product_details">
                    <div class="left_details">
                        <img src="../../../assets/images/blank_heart.svg" class="blank_heart" title="Add to Favorites"/>
                        <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart" /> -->
                        <img src="../../../assets/images/read_more.svg"class="green_heart" title="Read More" />
                    </div>
                    <div class="right_details">
                        <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                            <span>Price</span>
                            <span class="add_to_cart_icon btn_icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product_box">
            <div class="slider_product">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="product_img">
                    <img src="../../assets/images/product_thumbnail.jpg" class="product_thumbnail">
                    <div class="product_upper_layer">
                        <img style="background:none" class="play" src="../../assets/images/play_video.svg" />
                        <p class="product_name">product.TrackName</p>
                        <p class="product_bass">product.CategoryName</p>
                    </div>
                </div>
                <div class="product_details">
                    <div class="left_details">
                        <img src="../../../assets/images/blank_heart.svg" class="blank_heart" title="Add to Favorites"/>
                        <!-- <img src="../../../assets/images/fill_heart.svg" class="blank_heart" /> -->
                        <img src="../../../assets/images/read_more.svg"class="green_heart" title="Read More" />
                    </div>
                    <div class="right_details">
                        <a class="global_btn icon_btn primary_btn" title="Add To Cart">
                            <span>Price</span>
                            <span class="add_to_cart_icon btn_icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="no_record">
            No record found
        </div> -->
    </div>
</div>
<h2 class="simple_heading">BEATS</h2>
<div class="wishlist_page">
    <div class="product_list">
        <div class="beats_box">
            <div class="beats_sec">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="play_upper_layer">
                    <img class="beats_thumbnail" src="../../assets/images/product_thumbnail.jpg" />
                    <div class="play_audio">
                        <span class="playy" title="Play"></span>
                        <span title="Pause" class="pausee" style="display: none;"></span>
                    </div>
                </div>
                <div class="beats_info">
                    <h2>Extreme Adventure</h2>
                    <p>
                        by <a href="#">momose</a>
                    </p>
                </div>
                <div class="button_group">
                    <a class="global_btn icon_btn primary_btn">
                        <span>Cart</span>
                        <span class="add_to_cart_icon btn_icon left_btn_icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="beats_box">
            <div class="beats_sec">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="play_upper_layer">
                    <img class="beats_thumbnail" src="../../assets/images/product_thumbnail.jpg" />
                    <div class="play_audio">
                        <span class="playy" title="Play"></span>
                        <span title="Pause" class="pausee" style="display: none;"></span>
                    </div>
                </div>
                <div class="beats_info">
                    <h2>Extreme Adventure</h2>
                    <p>
                        by <a href="#">momose</a>
                    </p>
                </div>
                <div class="button_group">
                    <a class="global_btn icon_btn primary_btn">
                        <span>Cart</span>
                        <span class="add_to_cart_icon btn_icon left_btn_icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="beats_box">
            <div class="beats_sec">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="play_upper_layer">
                    <img class="beats_thumbnail" src="../../assets/images/product_thumbnail.jpg" />
                    <div class="play_audio">
                        <span class="playy" title="Play"></span>
                        <span title="Pause" class="pausee" style="display: none;"></span>
                    </div>
                </div>
                <div class="beats_info">
                    <h2>Extreme Adventure</h2>
                    <p>
                        by <a href="#">momose</a>
                    </p>
                </div>
                <div class="button_group">
                    <a class="global_btn icon_btn primary_btn">
                        <span>Cart</span>
                        <span class="add_to_cart_icon btn_icon left_btn_icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="beats_box">
            <div class="beats_sec">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="play_upper_layer">
                    <img class="beats_thumbnail" src="../../assets/images/product_thumbnail.jpg" />
                    <div class="play_audio">
                        <span class="playy" title="Play"></span>
                        <span title="Pause" class="pausee" style="display: none;"></span>
                    </div>
                </div>
                <div class="beats_info">
                    <h2>Extreme Adventure</h2>
                    <p>
                        by <a href="#">momose</a>
                    </p>
                </div>
                <div class="button_group">
                    <a class="global_btn icon_btn primary_btn">
                        <span>Cart</span>
                        <span class="add_to_cart_icon btn_icon left_btn_icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="beats_box">
            <div class="beats_sec">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="play_upper_layer">
                    <img class="beats_thumbnail" src="../../assets/images/product_thumbnail.jpg" />
                    <div class="play_audio">
                        <span class="playy" title="Play"></span>
                        <span title="Pause" class="pausee" style="display: none;"></span>
                    </div>
                </div>
                <div class="beats_info">
                    <h2>Extreme Adventure</h2>
                    <p>
                        by <a href="#">momose</a>
                    </p>
                </div>
                <div class="button_group">
                    <a class="global_btn icon_btn primary_btn">
                        <span>Cart</span>
                        <span class="add_to_cart_icon btn_icon left_btn_icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="beats_box">
            <div class="beats_sec">
                <img src="../../assets/images/close.svg" class="remove_track" title="Remove">
                <div class="play_upper_layer">
                    <img class="beats_thumbnail" src="../../assets/images/product_thumbnail.jpg" />
                    <div class="play_audio">
                        <span class="playy" title="Play"></span>
                        <span title="Pause" class="pausee" style="display: none;"></span>
                    </div>
                </div>
                <div class="beats_info">
                    <h2>Extreme Adventure</h2>
                    <p>
                        by <a href="#">momose</a>
                    </p>
                </div>
                <div class="button_group">
                    <a class="global_btn icon_btn primary_btn">
                        <span>Cart</span>
                        <span class="add_to_cart_icon btn_icon left_btn_icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- <div class="no_record">
            No record found
        </div> -->
    </div>
</div>