<div class="admin_page">
    <div class="admin_header">
        <h4>ALL NEW TRACK</h4>
    </div>
    <div class="admin_body">
        <div class="portlet_body admin_half_forms">
            <h2 class="form_heading">Track Information</h2>
            <form>
                <div class="form_group">
                    <div class="form_area icon_form_group">
                        <input type="text" name="trackname" placeholder="Track Name" />
                        <span class="input_icon track_icon"></span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="form_group">
                    <label class="form_label">Upload Track Cover Image</label>
                    <div class="form_area">
                        <div class="custom-file">
							<input type="file" class="custom-file-input" id="customFile">
							<label class="custom-file-label" for="customFile">Choose file</label>
						</div>
                        <span class="file_formats">Note: File upload limit - 3MB, Attchment format : jpg, jpeg, png</span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="multipul_form_group">
                    <div class="width_60">
                        <div class="form_group">
                            <div class="form_area icon_form_group">
                                <input type="text" name="trackdjstyle" placeholder="Track DJ Style" />
                                <span class="input_icon dj_style_icon"></span>
                            </div>
                            <div class="error_msg">
                                <span>This field is Required</span>
                            </div>
                        </div>
                    </div>
                    <div class="width_40">
                        <div class="form_group">
                            <div class="form_area icon_form_group">
                                <input type="number" name="trackduration" placeholder="Track Duration" />
                                <span class="input_icon duration_icon"></span>
                            </div>
                            <div class="error_msg">
                                <span>This field is Required</span>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="form_group">
                        <div class="form_area icon_form_group">
                            <input type="text" name="producername" placeholder="Producer Name" />
                            <span class="input_icon producer_icon"></span>
                        </div>
                        <div class="error_msg">
                            <span>This field is Required</span>
                        </div>
                    </div>
                <div class="form_group">
                    <div class="form_area icon_form_group">
                        <select name="trackgenre">
                            <option disabled selected>Select Track Genre</option>
                            <option>Options</option>
                            <option>Options</option>
                        </select>
                        <span class="input_icon dropdown_icon"></span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="form_group">
                    <div class="form_area icon_form_group">
                        <input type="number" name="trackprice" placeholder="Track Price" />
                        <span class="input_icon price_icon"></span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="form_group">
                    <div class="form_area icon_form_group textarea_icon_form_group">
                        <textarea rows="4" placeholder="Track Short Bio"></textarea>
                        <span class="input_icon bio_icon"></span>
                    </div>
                    <span class="file_formats right_align">At least 50 to 100 words</span>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="form_group">
                    <div class="form_area icon_form_group">
                        <input type="number" name="trackbmp" placeholder="Track BMP (beats per minnutes)" />
                        <span class="input_icon bmp_icon"></span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="form_group inline_form_group">
                    <label class="form_label">Does Track Contains Vocals:</label>
                    <div class="form_area">
                        <div class="inline_radio">
                            <label class="radio">
                                <input name="trackvocals" type="radio" checked="checked">Yes
                                <span></span>
                            </label>
                            <label class="radio">
                                <input name="trackvocals" type="radio">No
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="form_group">
                    <div class="form_area icon_form_group">
                        <select name="key">
                            <option disabled selected>Project DAW</option>
                            <option>Options</option>
                            <option>Options</option>
                        </select>
                        <span class="input_icon dropdown_icon"></span>
                    </div>
                    <div class="tags">
                        <span>demo</span>
                        <span>demo</span>
                        <span>demo</span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="button_group">
                    <a class="global_btn primary_btn">
                        <span>SAVE & CONTINUE</span>
                    </a>
                </div>
            </form>
        </div>
        <div class="portlet_body admin_half_forms">
            <h2 class="form_heading">Upload Track Files</h2>
            <form>
                <div class="form_group">
                    <label class="form_label">Upload Master</label>
                    <div class="form_area">
                        <div class="custom-file">
							<input type="file" class="custom-file-input" id="customFile">
							<label class="custom-file-label" for="customFile">Choose file</label>
						</div>
                        <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .War, .mp3</span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="form_group">
                    <label class="form_label">Upload Master & Unmastered</label>
                    <div class="form_area">
                        <div class="custom-file">
							<input type="file" class="custom-file-input" id="customFile">
							<label class="custom-file-label" for="customFile">Choose file</label>
						</div>
                        <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .War, .mp3</span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="form_group">
                    <label class="form_label">Upload Mixdow Files</label>
                    <div class="form_area">
                        <div class="custom-file">
							<input type="file" class="custom-file-input" id="customFile">
							<label class="custom-file-label" for="customFile">Choose file</label>
						</div>
                        <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .War, .mp3</span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="form_group">
                    <label class="form_label">Upload Stems</label>
                    <div class="form_area">
                        <div class="custom-file">
							<input type="file" class="custom-file-input" id="customFile">
							<label class="custom-file-label" for="customFile">Choose file</label>
						</div>
                        <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .War, .mp3</span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="form_group">
                    <label class="form_label">Upload MIDI</label>
                    <div class="form_area">
                        <div class="custom-file">
							<input type="file" class="custom-file-input" id="customFile">
							<label class="custom-file-label" for="customFile">Choose file</label>
						</div>
                        <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .War, .mp3</span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="form_group">
                    <label class="form_label">Project Files</label>
                    <div class="form_area">
                        <div class="custom-file">
							<input type="file" class="custom-file-input" id="customFile">
							<label class="custom-file-label" for="customFile">Choose file</label>
						</div>
                        <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .War, .mp3</span>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="form_group">
                    <div class="form_area">
                        <label class="checkbox">
                            <input name="agree" type="checkbox">I agree to T & C of Dope Track
                            <span></span>
                        </label>
                    </div>
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
                <div class="button_group">
                    <a class="global_btn primary_btn" data-toggle="modal" data-target="#acknowledge_popup">
                        <span>SAVE & VERIFY MY TRACK</span>
                    </a>
                </div>
            </form>
        </div>
        <div class="modal fade acknowledge_popup" id="acknowledge_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" keyboard="true">
            <div class="modal-md modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="../../../../assets/images/success_tick.svg" alt="Beats Submitted Successfully">
                        <h3>Thank You</h3>
                        <p>Your Track has been submitted will notify you the status of track approval.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>