<div class="portlet_body admin_half_forms">
    <h2 class="form_heading">{{moduleName}} Information</h2>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form_group">
            <div class="form_area icon_form_group">
                <input class="form-control" type="text" name="trackname" placeholder="{{moduleName}} Name" [(ngModel)]="model.trackname" #trackname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && trackname.invalid }" required>
                <span class=" input_icon track_icon"></span>
            </div>
            <div *ngIf="f.submitted && trackname.invalid">
                <div *ngIf="trackname.errors.required">
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_group">
            <label class="form_label">Upload {{moduleName}} Cover Image</label>
            <div class="form_area">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept="image/*" id="customFile" [(ngModel)]="trackImg" (change)="changeListenerTrackImg($event)">
                    <label class="custom-file-label">{{trackImg}}</label>
                </div>
                <span class="file_formats">Note: File upload limit - 3MB, Attchment format : jpg, jpeg, png</span>
            </div>
            <div class="error_msg" *ngIf="!trackImguploaded">
                <span>This field is Required</span>
            </div>
        </div>
        <div class="multipul_form_group" *ngIf="moduleName == 'Track'">
            <div class="width_60">
                <div class="form_group">
                    <div class="form_area icon_form_group">
                        <input type="text" class="form-control" name="trackdjstyle" [(ngModel)]="model.trackdjstyle" #trackdjstyle="ngModel" [ngClass]="{ 'is-invalid': f.submitted && trackdjstyle.invalid }" required placeholder="Track DJ Style">
                        <span class="input_icon dj_style_icon"></span>
                    </div>
                    <div *ngIf="f.submitted && trackdjstyle.invalid">
                        <div *ngIf="trackdjstyle.errors.required">
                            <div class="error_msg">
                                <span>This field is Required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="width_40">
                <div class="form_group">
                    <div class="form_area icon_form_group">
                        <input type="time" class="form-control" name="trackduration" value="model.trackduration" [(ngModel)]="model.trackduration" #trackduration="ngModel" [ngClass]="{ 'is-invalid': f.submitted && trackduration.invalid }" required placeholder="Track Duration"
                        />
                        <span class="input_icon duration_icon"></span>
                    </div>
                    <div *ngIf="f.submitted && trackduration.invalid">
                        <div *ngIf="trackduration.errors.required">
                            <div class="error_msg">
                                <span>This field is Required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="form_group">
            <div class="form_area icon_form_group">
                <input type="text" class="form-control" name="producername" [(ngModel)]="model.producername" #producername="ngModel" [ngClass]="{ 'is-invalid': f.submitted && producername.invalid }" required placeholder="Producer Name" />
                <span class="input_icon producer_icon"></span>
            </div>
            <div *ngIf="f.submitted && producername.invalid">
                <div *ngIf="producername.errors.required">
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="form_group">
            <div class="form_area icon_form_group">
                <select name="trackgenre" class="form-control" [value]="Category_ID" [(ngModel)]="model.trackgenre" #trackgenre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && trackgenre.invalid }" required>
                            <option  [value]="undefined" disabled hidden>Select {{moduleName}} Genre</option>
                            <option *ngFor="let genre of genrelist" [value]="genre.Ref_Category_ID" [selected]="genre.Ref_Category_ID == Category_ID">{{genre.CategoryName}}</option>
                            <!-- <option>Options</option> -->
                        </select>
                <span class="input_icon dropdown_icon"></span>
            </div>
            <div *ngIf="f.submitted && trackgenre.invalid">
                <div *ngIf="trackgenre.errors.required">
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_group" *ngIf="moduleName == 'Beat'">
            <div class="form_area icon_form_group">
                <select name="mood" [value]="MoodID" class="form-control" [(ngModel)]="model.mood" #mood="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mood.invalid }" required>
                            <option [value]="undefined" disabled hidden>Select Mood</option>
                            <option *ngFor="let mood of moodlist" [value]="mood.Ref_Mood_ID" [selected]="mood.Ref_Mood_ID == MoodID">{{mood.MoodName}}</option>
                            <!-- <option>Options</option> -->
                        </select>
                <span class="input_icon dropdown_icon"></span>
            </div>
            <div *ngIf="f.submitted && mood.invalid">
                <div *ngIf="mood.errors.required">
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area icon_form_group">
                <input type="number" class="form-control" name="trackprice" [(ngModel)]="model.trackprice" #trackprice="ngModel" [ngClass]="{ 'is-invalid': f.submitted && trackprice.invalid }" required placeholder="{{moduleName}} Price" />
                <span class="input_icon price_icon"></span>
            </div>
            <div *ngIf="f.submitted && trackprice.invalid">
                <div *ngIf="trackprice.errors.required">
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area icon_form_group textarea_icon_form_group">
                <textarea rows="4" class="form-control" name="trackshortBio" [(ngModel)]="model.trackshortBio" #trackshortBio="ngModel" [ngClass]="{ 'is-invalid': f.submitted && trackshortBio.invalid }" required placeholder="{{moduleName}} Short Bio"></textarea>
                <span class="input_icon bio_icon"></span>
            </div>
            <span class="file_formats right_align">At least 50 to 100 words</span>
            <div *ngIf="f.submitted && trackshortBio.invalid">
                <div *ngIf="trackshortBio.errors.required">
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area icon_form_group">
                <input type="number" class="form-control" name="trackbmp" [(ngModel)]="model.trackbmp" #trackbmp="ngModel" [ngClass]="{ 'is-invalid': f.submitted && trackbmp.invalid }" required placeholder="{{moduleName}} BMP (beats per minnutes)" />
                <span class="input_icon bmp_icon"></span>
            </div>
            <div *ngIf="f.submitted && trackbmp.invalid">
                <div *ngIf="trackbmp.errors.required">
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_group inline_form_group" *ngIf="moduleName == 'Track'">
            <label class="form_label">Does Track Contains Vocals:</label>
            <div class="form_area">
                <div class="inline_radio">
                    <label class="radio">
                                <input name="trackvocals" [value]="true" type="radio" id="trackvocalsyes" class="form-check-input custom-control-input" [(ngModel)]="model.trackvocals" #trackvocals="ngModel" required>Yes
                                <span></span>
                            </label>
                    <label class="radio">
                                <input name="trackvocals" [value]="false" type="radio" id="trackvocalsnow" class="form-check-input custom-control-input" [(ngModel)]="model.trackvocals" #trackvocals="ngModel" required>No
                                <span></span>
                            </label>
                </div>
            </div>
            <div *ngIf="f.submitted && trackvocals.invalid">
                <div *ngIf="trackvocals.errors.required">
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_group" *ngIf="moduleName == 'Track'">
            <div class="form_area icon_form_group">
                <select name="trackDaw" [value]="DAWID" class="form-control" [(ngModel)]="model.trackDaw" #trackDaw="ngModel" [ngClass]="{ 'is-invalid': f.submitted && trackDaw.invalid }" required>
                            <option [value]="undefined" disabled hidden>Project Daw</option>
                            <option *ngFor="let DAW of DAWlist" [value]="DAW.Ref_DAW_ID" [selected]="DAW.Ref_DAW_ID == DAWID">{{DAW.DAW}}</option>
                           
                        </select>
                <span class="input_icon dropdown_icon"></span>

            </div>
            <div *ngIf="f.submitted && trackDaw.invalid">
                <div *ngIf="trackDaw.errors.required">
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
            <div class="tags">
                <span>demo</span>
                <span>demo</span>
            </div>

        </div>
        <div class="form_group" *ngIf="moduleName == 'Beat'">
            <div class="form_area icon_form_group">
                <select name="beatkey" [value]="KeyID" class="form-control" [(ngModel)]="model.beatkey" #beatkey="ngModel" [ngClass]="{ 'is-invalid': f.submitted && beatkey.invalid }" required>
                            <option [value]="undefined" disabled hidden>Key</option>
                            <option *ngFor="let key of keylist" [value]="key.Ref_Key_ID" [selected]="key.Ref_Key_ID == KeyID">{{key.KeyName}}</option>
                           
                        </select>
                <span class="input_icon dropdown_icon"></span>
            </div>

            <div *ngIf="f.submitted && beatkey.invalid">
                <div *ngIf="beatkey.errors.required">
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_group" *ngIf="moduleName == 'Beat'">
            <div class="form_area icon_form_group">
                <input type="text" class="form-control" name="tags" [(ngModel)]="model.tags" #tags="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tags.invalid }" required placeholder="Tags" />
                <span class="input_icon price_icon"></span>
            </div>
            <div class="tags">
                <span>demo</span>
                <span>demo</span>
                <span>demo</span>
            </div>
            <div *ngIf="f.submitted && tags.invalid">
                <div *ngIf="tags.errors.required">
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="button_group">
            <button class="global_btn primary_btn">SAVE & CONTINUE</button>
        </div>
    </form>
</div>
<div class="portlet_body admin_half_forms">
    <h2 class="form_heading">Upload {{moduleName}} Files</h2>
    <form name="form" (ngSubmit)="f2.form.valid && finaltrackSubmit()" #f2="ngForm" novalidate>
        <div class="form_group" *ngIf="moduleName == 'Track'">
            <label class="form_label">Upload Master</label>
            <div class="form_area">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept=".mp3, .war" id="masterfile" name="masterfile" [(ngModel)]="masterfile" (change)="changeListenerfile($event, 'Masterfile')">
                    <label class="custom-file-label" for="customFile">{{masterfile}}</label>
                </div>
                <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .War, .mp3</span>
            </div>
            <div class="error_msg" *ngIf="!masterfileuploaded">
                <span>This field is Required</span>
            </div>
        </div>
        <div class="form_group" *ngIf="moduleName == 'Track'">
            <label class="form_label">Upload Master & Unmastered</label>
            <div class="form_area">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept=".mp3, .war" id="unmasterfile" name="unmasterfile" [(ngModel)]="unmasterfile" (change)="changeListenerfile($event, 'Unmasterfile')">
                    <label class="custom-file-label" for="customFile">{{unmasterfile}}</label>
                </div>
                <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .War, .mp3</span>
            </div>

            <div class="error_msg" *ngIf="!unmasterfileuploaded">
                <span>This field is Required</span>
            </div>
        </div>
        <div class="form_group" *ngIf="moduleName == 'Track'">
            <label class="form_label">Upload Mixdow Files</label>
            <div class="form_area">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept=".mp3, .war" id="mixdowfile" name="mixdowfile" (change)="changeListenerfile($event, 'Mixdowfile')" [(ngModel)]="mixdowfile">
                    <label class="custom-file-label" for="customFile">{{mixdowfile}}</label>
                </div>
                <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .War, .mp3</span>
            </div>
            <div class="error_msg" *ngIf="!mixdowfileuploaded">
                <span>This field is Required</span>
            </div>
        </div>
        <div class="form_group" *ngIf="moduleName == 'Beat'">
            <label class="form_label">Urtogged Files</label>
            <div class="form_area">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept=".zip, .rar" id="urtoggedfile" name="urtoggedfile" (change)="changeListenerfile($event, 'Urtoggedfile')" [(ngModel)]="urtoggedfile">
                    <label class="custom-file-label" for="customFile">{{urtoggedfile}}</label>
                </div>
                <span class="file_formats">Attchment format : .zip, .rar</span>
            </div>

            <div class="error_msg" *ngIf="!urtoggedfileuploaded">
                <span>This field is Required</span>
            </div>
        </div>
        <div class="form_group">
            <label class="form_label">Upload Stems</label>
            <div class="form_area">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept=".mp3, .war" id="stemsfile" name="stemsfile" (change)="changeListenerfile($event, 'Stemsfile')" [(ngModel)]="stemsfile">
                    <label class="custom-file-label" for="customFile">{{stemsfile}}</label>
                </div>
                <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .War, .mp3</span>
            </div>
            <div class="error_msg" *ngIf="!stemsfileuploaded">
                <span>This field is Required</span>
            </div>
        </div>
        <div class="form_group" *ngIf="moduleName == 'Track'">
            <label class="form_label">Upload MIDI</label>
            <div class="form_area">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept=".mp3, .war" id="MIDIfile" name="MIDIfile" (change)="changeListenerfile($event, 'MIDIfile')" [(ngModel)]="MIDIfile">
                    <label class="custom-file-label" for="customFile">{{MIDIfile}}</label>
                </div>
                <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .War, .mp3</span>
            </div>

            <div class="error_msg" *ngIf="!MIDIfileuploaded">
                <span>This field is Required</span>
            </div>
        </div>
        <div class="form_group" *ngIf="moduleName == 'Track'">
            <label class="form_label">Project Files</label>
            <div class="form_area">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept=".mp3, .war" id="projectfile" name="projectfile" (change)="changeListenerfile($event, 'Projectfile')" [(ngModel)]="projectfile">
                    <label class="custom-file-label" for="customFile">{{projectfile}}</label>
                </div>
                <span class="file_formats">Note: File upload limit - 3MB, Attchment format : .War, .mp3</span>
            </div>

            <div class="error_msg" *ngIf="!projectfileuploaded">
                <span>This field is Required</span>
            </div>
        </div>
        <div class="form_group">
            <div class="form_area">
                <label class="checkbox">
                            <input name="acceptTerms" type="checkbox"  id="acceptTerms" class="form-check-input" [(ngModel)]="model2.acceptTerms" #acceptTerms="ngModel" [ngClass]="{ 'is-invalid': f2.submitted && acceptTerms.invalid }" required>I agree to T & C of Dope Track
                            <span></span>
                        </label>
            </div>
            <div *ngIf="f2.submitted && acceptTerms.invalid">
                <div *ngIf="acceptTerms.errors.required">
                    <div class="error_msg">
                        <span>This field is Required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="button_group">
            <!-- <a class="global_btn primary_btn" data-toggle="modal" data-target="#acknowledge_popup">
                        <span>SAVE & VERIFY MY TRACK</span>
                    </a> -->
            <button [disabled]="finalsubmition == false" class="global_btn primary_btn" [ngStyle]="{'opacity':finalsubmition == false ? '0.5' : '1' }">  <span>SAVE & VERIFY MY TRACK</span></button>
        </div>
    </form>
</div>
<div class="modal fade acknowledge_popup" id="acknowledge_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" keyboard="true">
    <div class="modal-md modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../../../../assets/images/success_tick.svg" alt="Track Submitted Successfully">
                <h3>Thank You</h3>
                <p>Your Track has been submitted will notify you the status of track approval.</p>
            </div>
        </div>
    </div>
</div>