.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-image: none;
}

.custom-file-label {
    background: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
}