<div class="product_detail_page">
    <div class="product_detail_sec" *ngFor="let product of productDetails">
        <div class="product_thumbnail_sec">
            <img [src]="product.ThumbnailImageUrl" />
            <div class="product_thumbnail_hover_sec" [id]="product.Ref_Track_ID">
                <img style="background:none" (click)="playaudio(product.StemsUrl, product.Ref_Track_ID, productDetails)" class="playpause_{{product.Ref_Track_ID}} play" [src]="playpauseImg" [title]="playpause" />
            </div>
        </div>
        <div class="product_details">
            <h2 class="product_name">{{product.TrackName}} ({{product.TrackType}})</h2>
            <h3 class="product_tagname">{{product.Bio}}</h3>
            <p class="files_included_heading">
                Files Included:
            </p>
            <p class="included_files">
                All Steams (.wav) | All MIDI Files | Mastered & Mixdown Version | 100% rights with contract
            </p>
            <ul class="product_more_details">
                <li>
                    <p>Artist :</p>
                    <p>{{product.TrackName}}</p>
                </li>
                <li>
                    <p>BMP :</p>
                    <p>{{product.BMP}}</p>
                </li>
                <li>
                    <p>Genre :</p>
                    <p>{{product.CategoryName}}</p>
                </li>
                <li>
                    <p>Price :</p>
                    <p>{{product.Price}}</p>
                </li>
                <li>
                    <p>Duration :</p>
                    <p>{{product.Duration}}</p>
                </li>
                <li>
                    <p>DAW :</p>
                    <p>{{product.DAW}}</p>
                </li>
            </ul>
            <div class="button_group">
                <a class="global_btn icon_btn secondary_btn">
                    <span>Add To Favourites</span>
                    <span class="add_to_favourites_icon btn_icon"></span>
                </a>
                <a class="global_btn icon_btn primary_btn">
                    <span>Add To Cart</span>
                    <span class="add_to_cart_icon btn_icon"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="featuredProduct_sections">
        <h2 class="global_heading">
            Related Track
        </h2>
        <div class="global_slider">
            <app-featuredProductSlider></app-featuredProductSlider>
        </div>
    </div>

</div>